In [1]:
import os
import pandas as pd
import sys
from scipy.stats import kendalltau
from scipy.stats import spearmanr

In [2]:
import os
import glob

# Define the path to your main directory
main_dir = r'C:\Users\Abdou\Desktop\Projet_Prediction_DPOY_2023_2024\Char_Selection'

# Define the subdirectories
subdirectories = [
    '1993_1997', '1998_2002', '2003_2007', 
    '2008_2012', '2013_2017', '2018_2023', 
    'All_years_1993_2023'
]

# Iterate over each subdirectory
for subdir in subdirectories:
    # Create the full path to the subdirectory
    subdir_path = os.path.join(main_dir, subdir)
    
    # Get a list of files in the subdirectory matching the pattern
    files = glob.glob(os.path.join(subdir_path, 'top_N_features_*'))
    
    # Print the filenames in this subdirectory
    print(f"Files in {subdir}:")
    for file in files:
        print(os.path.basename(file))
    print()  # Add a blank line for separation

Files in 1993_1997:
top_N_features_Mutual_Information_Score1993_1997.csv
top_N_features_PersonsR1993_1997.csv
top_N_features_SelectFromModel_RF1993_1997.csv
top_N_features_SelectFromModel_XGB1993_1997.csv

Files in 1998_2002:
top_N_features_Mutual_Information_Score1998_2002.csv
top_N_features_PersonsR1998_2002.csv
top_N_features_SelectFromModel_RF1998_2002.csv
top_N_features_SelectFromModel_XGB1998_2002.csv

Files in 2003_2007:
top_N_features_Mutual_Information_Score2003_2007.csv
top_N_features_PersonsR2003_2007.csv
top_N_features_SelectFromModel_RF2003_2007.csv
top_N_features_SelectFromModel_XGB2003_2007.csv

Files in 2008_2012:
top_N_features_Mutual_Information_Score2008_2012.csv
top_N_features_PersonsR2008_2012.csv
top_N_features_SelectFromModel_RF2008_2012.csv
top_N_features_SelectFromModel_XGB2008_2012.csv

Files in 2013_2017:
top_N_features_Mutual_Information_Score2013_2017.csv
top_N_features_PersonsR2013_2017.csv
top_N_features_SelectFromModel_RF2013_2017.csv
top_N_features_SelectFromModel_XGB2013_2017.csv

Files in 2018_2023:
top_N_features_Mutual_Information_Score2018_2023.csv
top_N_features_PersonsR2018_2023.csv
top_N_features_SelectFromModel_RF2018_2023.csv
top_N_features_SelectFromModel_XGB2018_2023.csv

Files in All_years_1993_2023:
top_N_features_Mutual_Information_ScoreAll.csv
top_N_features_PersonsRAll.csv
top_N_features_SelectFromModel_RFAll.csv
top_N_features_SelectFromModel_XGBAll.csv

In [3]:
import os
import pandas as pd
from scipy.stats import kendalltau

# Define the main directory
main_dir = r'C:\Users\Abdou\Desktop\Projet_Prediction_DPOY_2023_2024\Char_Selection'

# Define the subdirectories
subdirectories = [
    '1993_1997', '1998_2002', '2003_2007', 
    '2008_2012', '2013_2017', '2018_2023', 
    'All_years_1993_2023'
]

# Function to compare two DataFrames using Kendall's tau coefficient
def compare_dataframes(df1, df2):
    data1 = df1['Feature'].values
    data2 = df2['Feature'].values
    
    # Compute Kendall's tau coefficient
    tau, _ = kendalltau(data1, data2)
    return tau

# Create an empty DataFrame to store the results
results = pd.DataFrame(index=subdirectories, columns=subdirectories)

# Iterate through each subdirectory
for subdir1 in subdirectories:
    # Check if subdir1 contains a file with "PersonsR" in its name
    file1 = next((file for file in os.listdir(os.path.join(main_dir, subdir1)) if "PersonsR" in file and file.endswith('.csv')), None)
    if file1:
        df1 = pd.read_csv(os.path.join(main_dir, subdir1, file1))
        for subdir2 in subdirectories:
            # Check if subdir2 also contains a file with "PersonsR" in its name
            file2 = next((file for file in os.listdir(os.path.join(main_dir, subdir2)) if "PersonsR" in file and file.endswith('.csv')), None)
            if file2:
                df2 = pd.read_csv(os.path.join(main_dir, subdir2, file2))
                # Compare the DataFrames and store the result
                tau = compare_dataframes(df1, df2)
                results.loc[subdir1, subdir2] = tau

# Display the results DataFrame
print("Kendall's Tau Results Mutual_Information with PersonsR:")
display(results)

Kendall's Tau Results Mutual_Information with PersonsR:

,1993_1997,1998_2002,2003_2007,2008_2012,2013_2017,2018_2023,All_years_1993_2023
1993_1997,1.0,0.088918,0.012887,0.112113,-0.053265,-0.027921,0.099227
1998_2002,0.088918,1.0,-0.121564,-0.094502,0.003007,-0.131443,0.17268
2003_2007,0.012887,-0.121564,1.0,-0.064863,0.035223,0.125859,0.137027
2008_2012,0.112113,-0.094502,-0.064863,1.0,0.075172,-0.182131,0.063574
2013_2017,-0.053265,0.003007,0.035223,0.075172,1.0,-0.036512,0.129296
2018_2023,-0.027921,-0.131443,0.125859,-0.182131,-0.036512,1.0,0.046392
All_years_1993_2023,0.099227,0.17268,0.137027,0.063574,0.129296,0.046392,1.0

In [5]:
import os
import pandas as pd
from scipy.stats import kendalltau

# Define the main directory
main_dir = r'C:\Users\Abdou\Desktop\Projet_Prediction_DPOY_2023_2024\Char_Selection'

# Define the subdirectories
subdirectories = [
    '1993_1997', '1998_2002', '2003_2007', 
    '2008_2012', '2013_2017', '2018_2023', 
    'All_years_1993_2023'
]

# Function to compare two DataFrames using Kendall's tau coefficient
def compare_dataframes(df1, df2):
    data1 = df1['Feature'].rank().values
    data2 = df2['Feature'].rank().values
    
    # Compute Kendall's tau coefficient
    tau, _ = kendalltau(data1, data2)
    return tau

# Create an empty DataFrame to store the results
results = pd.DataFrame(index=subdirectories, columns=subdirectories)

# Iterate through each subdirectory
for subdir1 in subdirectories:
    # Check if subdir1 contains a file with "Mutual_Information" in its name
    file1 = next((file for file in os.listdir(os.path.join(main_dir, subdir1)) if "Mutual_Information" in file and file.endswith('.csv')), None)
    if file1:
        df1 = pd.read_csv(os.path.join(main_dir, subdir1, file1))
        for subdir2 in subdirectories:
            # Check if subdir2 also contains a file with "Mutual_Information" in its name
            file2 = next((file for file in os.listdir(os.path.join(main_dir, subdir2)) if "Mutual_Information" in file and file.endswith('.csv')), None)
            if file2:
                df2 = pd.read_csv(os.path.join(main_dir, subdir2, file2))
                # Compare the DataFrames and store the result
                tau = compare_dataframes(df1, df2)
                results.loc[subdir1, subdir2] = tau

# Display the results DataFrame
print("Kendall's Tau Results Mutual_Information with Mutual_Information:")
display(results)

Kendall's Tau Results Mutual_Information with Mutual_Information:

,1993_1997,1998_2002,2003_2007,2008_2012,2013_2017,2018_2023,All_years_1993_2023
1993_1997,1.0,0.090636,0.229811,0.181701,0.175258,0.046392,0.117698
1998_2002,0.090636,1.0,0.093643,0.07732,0.088918,-0.004725,0.068299
2003_2007,0.229811,0.093643,1.0,0.217354,0.051117,0.132732,0.108677
2008_2012,0.181701,0.07732,0.217354,1.0,0.118127,0.133591,0.162801
2013_2017,0.175258,0.088918,0.051117,0.118127,1.0,0.042096,0.048969
2018_2023,0.046392,-0.004725,0.132732,0.133591,0.042096,1.0,-0.004296
All_years_1993_2023,0.117698,0.068299,0.108677,0.162801,0.048969,-0.004296,1.0

In [4]:
import os
import pandas as pd
from scipy.stats import kendalltau

# Define the main directory
main_dir = r'C:\Users\Abdou\Desktop\Projet_Prediction_DPOY_2023_2024\Char_Selection'

# Define the subdirectories
subdirectories = [
    '1993_1997', '1998_2002', '2003_2007', 
    '2008_2012', '2013_2017', '2018_2023', 
    'All_years_1993_2023'
]

# Function to compare two DataFrames using Kendall's tau coefficient
def compare_dataframes(df1, df2):
    # Extract only the relevant columns for comparison
    data1 = df1['Feature'].rank().values
    data2 = df2['Feature'].rank().values
    
    # Compute Kendall's tau coefficient
    tau, _ = kendalltau(data1, data2)
    return tau

# Create an empty DataFrame to store the results
results_RF = pd.DataFrame(index=subdirectories, columns=subdirectories)
results_XGB = pd.DataFrame(index=subdirectories, columns=subdirectories)
results_RF_XGB = pd.DataFrame(index=subdirectories, columns=subdirectories)

# Iterate through each subdirectory
for subdir1 in subdirectories:
    # Check if subdir1 contains a file with "RF" in its name
    files1_RF = [file for file in os.listdir(os.path.join(main_dir, subdir1)) 
                 if "RF" in file and file.endswith('.csv')]
    files1_XGB = [file for file in os.listdir(os.path.join(main_dir, subdir1)) 
                  if "XGB" in file and file.endswith('.csv')]
    if files1_RF:
        for subdir2 in subdirectories:
            # Check if subdir2 also contains a file with "RF" in its name
            files2_RF = [file for file in os.listdir(os.path.join(main_dir, subdir2)) 
                         if "RF" in file and file.endswith('.csv')]
            if files2_RF:
                # Read the CSV files into pandas DataFrames
                df1_RF = pd.read_csv(os.path.join(main_dir, subdir1, files1_RF[0]))
                df2_RF = pd.read_csv(os.path.join(main_dir, subdir2, files2_RF[0]))
                
                # Compare the DataFrames and store the result
                tau = compare_dataframes(df1_RF, df2_RF)
                if tau is not None:
                    results_RF.loc[subdir1, subdir2] = tau

    if files1_XGB:
        for subdir2 in subdirectories:
            # Check if subdir2 also contains a file with "XGB" in its name
            files2_XGB = [file for file in os.listdir(os.path.join(main_dir, subdir2)) 
                          if "XGB" in file and file.endswith('.csv')]
            if files2_XGB:
                # Read the CSV files into pandas DataFrames
                df1_XGB = pd.read_csv(os.path.join(main_dir, subdir1, files1_XGB[0]))
                df2_XGB = pd.read_csv(os.path.join(main_dir, subdir2, files2_XGB[0]))
                
                # Compare the DataFrames and store the result
                tau = compare_dataframes(df1_XGB, df2_XGB)
                if tau is not None:
                    results_XGB.loc[subdir1, subdir2] = tau

            if files1_RF:
                # Read the CSV files into pandas DataFrames for cross comparison
                df1_RF = pd.read_csv(os.path.join(main_dir, subdir1, files1_RF[0]))
                
                # Compare the DataFrames and store the result
                tau = compare_dataframes(df1_RF, df1_XGB)
                if tau is not None:
                    results_RF_XGB.loc[subdir1, subdir2] = tau

# Display the results DataFrames
print("Kendall's Tau Results for RandomForestRegressor and RandomForestRegressor:")
display(results_RF)
print("\nKendall's Tau Results for XGBoostingRegressor and XGBoostingRegressor:")
display(results_XGB)
print("\nKendall's Tau Results for RandomForestRegressor and XGBoostingRegressor:")
display(results_RF_XGB)

Kendall's Tau Results for RandomForestRegressor and RandomForestRegressor:

,1993_1997,1998_2002,2003_2007,2008_2012,2013_2017,2018_2023,All_years_1993_2023
1993_1997,1.0,0.06964,-0.03219,0.086051,0.038502,-0.030928,0.011992
1998_2002,0.06964,1.0,0.104566,-0.004418,0.086892,-0.028824,0.024195
2003_2007,-0.03219,0.104566,1.0,-0.009468,-0.110036,-0.06417,0.022512
2008_2012,0.086051,-0.004418,-0.009468,1.0,0.136966,0.026299,0.106249
2013_2017,0.038502,0.086892,-0.110036,0.136966,1.0,0.007364,-0.033032
2018_2023,-0.030928,-0.028824,-0.06417,0.026299,0.007364,1.0,-0.081422
All_years_1993_2023,0.011992,0.024195,0.022512,0.106249,-0.033032,-0.081422,1.0

Kendall's Tau Results for XGBoostingRegressor and XGBoostingRegressor:

,1993_1997,1998_2002,2003_2007,2008_2012,2013_2017,2018_2023,All_years_1993_2023
1993_1997,1.0,-0.030928,0.056596,0.001894,-0.046076,-0.020829,-0.041448
1998_2002,-0.030928,1.0,-0.013255,0.026299,0.039764,0.026299,0.027562
2003_2007,0.056596,-0.013255,1.0,-0.025878,0.018725,-0.048601,-0.002735
2008_2012,0.001894,0.026299,-0.025878,1.0,-0.134441,0.012834,-0.03219
2013_2017,-0.046076,0.039764,0.018725,-0.134441,1.0,-0.073848,0.02672
2018_2023,-0.020829,0.026299,-0.048601,0.012834,-0.073848,1.0,0.036819
All_years_1993_2023,-0.041448,0.027562,-0.002735,-0.03219,0.02672,0.036819,1.0

Kendall's Tau Results for RandomForestRegressor and XGBoostingRegressor:

,1993_1997,1998_2002,2003_2007,2008_2012,2013_2017,2018_2023,All_years_1993_2023
1993_1997,0.075531,0.075531,0.075531,0.075531,0.075531,0.075531,0.075531
1998_2002,0.019567,0.019567,0.019567,0.019567,0.019567,0.019567,0.019567
2003_2007,0.092784,0.092784,0.092784,0.092784,0.092784,0.092784,0.092784
2008_2012,0.014938,0.014938,0.014938,0.014938,0.014938,0.014938,0.014938
2013_2017,-0.040185,-0.040185,-0.040185,-0.040185,-0.040185,-0.040185,-0.040185
2018_2023,-0.023774,-0.023774,-0.023774,-0.023774,-0.023774,-0.023774,-0.023774
All_years_1993_2023,-0.025878,-0.025878,-0.025878,-0.025878,-0.025878,-0.025878,-0.025878