In [28]:
import pandas as pd

from xgboost import XGBRegressor

from sklearn.model_selection import GridSearchCV

from sklearn.metrics import mean_squared_error, r2_score

import matplotlib.pyplot as plt

In [29]:
F_selection = pd.read_csv("F_Selection/top_N_features_SelectFromModel_XGBAll.csv")

# Extract top 10, 20, 30, and 50 features
top_10 = F_selection["Feature"].head(10).tolist()
top_20 = F_selection["Feature"].head(20).tolist()
top_30 = F_selection["Feature"].head(30).tolist()
top_40 = F_selection["Feature"].head(40).tolist()
top_50 = F_selection["Feature"].head(50).tolist()

In [30]:
def Data_Organizer(raw_Data,top):
    
    All_players_dataSet = raw_Data.copy()
    
    All_players_dataSet = All_players_dataSet.drop(columns=All_players_dataSet.columns[All_players_dataSet.columns.str.contains('Unnamed:')])
    All_players_dataSet.reset_index(drop=True, inplace=True)
    
    All_players_dataSet.fillna(0, inplace=True)
    All_players_dataSet.replace('', 0, inplace=True)
    All_players_dataSet.replace('--', 0, inplace=True)
    
    # check if any NaN,empty Strings exists in the dataframe
    any_missing_values = All_players_dataSet.isna().any().any()
    any_empty_values = (All_players_dataSet.applymap(lambda x: x == '')).any().any()
    
    if any_missing_values or any_empty_values:
        print("DataFrame contains missing values or empty strings/spaces.")
    else:
        print("DataFrame does not contain missing values or empty strings/spaces.")
        
    ## seperating our dataFrame
    Y = All_players_dataSet['Points_won']  # Target
    X = All_players_dataSet.drop('Points_won', axis=1)  # Features
    
    X = X.apply(pd.to_numeric, errors='coerce')

    ## keep the specified columns
    columns_to_keep = top
    
    ## keep only wanted columns
    X = X[columns_to_keep]

    return X, Y

In [31]:
all_players_w_add_sorted = pd.read_csv("all_players_w_add_sorted.csv")

C:\Users\Abdou\AppData\Local\Temp\ipykernel_13908\1174582640.py:1: DtypeWarning: Columns (154,155) have mixed types. Specify dtype option on import or set low_memory=False.
  all_players_w_add_sorted = pd.read_csv("all_players_w_add_sorted.csv")

In [32]:
top = top_10

rank_data_10 = pd.DataFrame()

for year in range(1994,2024):
    print("Selected Features Top ",10," Test year : ", year)
    Test_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] == year]
    Train_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] < year]
    
    X_train, y_train = Data_Organizer(Train_Data,top)
    X_test , y_test = Data_Organizer(Test_Data,top)
    
    # Initialize and train a XGBoost Regressor model
    xgb_model = XGBRegressor(n_estimators=200,max_depth = 5, random_state=42, n_jobs=-1)
    xgb_model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred_xgb = xgb_model.predict(X_test)
    
    # Evaluate the model
    mse_xgb = mean_squared_error(y_test, y_pred_xgb)
    r2_xgb = r2_score(y_test, y_pred_xgb)
    
    # Mean Squared Error (MAE)
    print(f'Mean Squared Error (XGBoost): {mse_xgb}')
    print(f'R-squared (XGBoost): {r2_xgb}')
    
    Test_Data_copy = Test_Data.copy()
    Test_Data_copy.loc[:, 'Predicted_points'] = y_pred_xgb
    
    # Select only the desired columns
    Test_Data_concatenated = Test_Data_copy[['Player_name','Rank','Pos','Points_won', 'Predicted_points']]
    
    # Display the concatenated DataFrame sorted by 'Points_won'
    display(Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10))

    Test_Data_concatenated = Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10)
    
    if rank_data_10.empty:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_10 = pd.DataFrame(new_rank_column)
    else:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_10 = pd.concat([rank_data_10.reset_index(drop=True), new_rank_column.reset_index(drop=True)], axis=1)

    print("---------------------------------------------------------------------")

display(rank_data_10)

Selected Features Top  10  Test year :  1994
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.188681032209482
R-squared (XGBoost): -0.9461744891868107

           Player_name  Rank Pos  Points_won  Predicted_points
15651  Hakeem Olajuwon     1   C        23.0         72.997528
15477   Scottie Pippen     4  SF        11.0          8.936706
15583  Mookie Blaylock    7T  PG         3.0          8.917365
15539   David Robinson     2   C        22.0          8.903131
15435      Otis Thorpe  -1.0  PF         0.0          1.894845
15531   LaPhonso Ellis  -1.0  PF         0.0          0.996227
15784      Gary Payton     5  PG         9.0          0.879920
15743  Dikembe Mutombo     3   C        19.0          0.767310
15739    Patrick Ewing    -1   C         0.0          0.651609
15649   Charles Oakley     9  PF         2.0          0.336138

---------------------------------------------------------------------
Selected Features Top  10  Test year :  1995
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 3.3158190297360655
R-squared (XGBoost): 0.4729714575298841

           Player_name  Rank Pos  Points_won  Predicted_points
15026  Dikembe Mutombo     1   C        45.0         72.979698
14994  Hakeem Olajuwon     3   C        13.0         22.994846
15199   Scottie Pippen     2  SF        16.0         21.997505
15051    Patrick Ewing    -1   C         0.0         18.721085
15113   David Robinson     4   C        12.0         13.751002
15077  Mookie Blaylock    -1  PG         0.0          2.693089
15394      Karl Malone  -1.0  PF         0.0          2.044275
15174      Vlade Divac  -1.0   C         0.0          1.938754
15241   Rod Strickland  -1.0  PG         0.0          0.742767
15374       Toni Kukoč  -1.0  SF         0.0          0.569358

---------------------------------------------------------------------
Selected Features Top  10  Test year :  1996
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 3.1873954784472835
R-squared (XGBoost): 0.5751746604110433

           Player_name  Rank Pos  Points_won  Predicted_points
14844      Gary Payton     1  PG        56.0         48.420063
14887  Dikembe Mutombo     3   C        11.0         44.880505
14797  Hakeem Olajuwon     5   C         8.0         12.983806
14897   David Robinson     4   C         9.0          7.941574
14672    Ervin Johnson  -1.0   C         0.0          6.845862
14949    Patrick Ewing    -1   C         0.0          6.406985
14619   Michael Jordan     6  SG         7.0          5.330116
14945      Otis Thorpe  -1.0  PF         0.0          5.233335
14749   Scottie Pippen     2  SF        15.0          5.002176
14770      Sam Perkins  -1.0  PF         0.0          4.476470

---------------------------------------------------------------------
Selected Features Top  10  Test year :  1997
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 8.840227082481755
R-squared (XGBoost): 0.00785468855367677

              Player_name  Rank Pos  Points_won  Predicted_points
14149         Gary Payton     2  PG        25.0         71.836929
14489     Dikembe Mutombo     1   C        60.0         17.815456
14210     Hakeem Olajuwon    -1   C         0.0         14.324781
14164      Scottie Pippen     4  SF         4.0         10.616818
14184          Grant Hill  -1.0  SF         0.0         10.557968
14333     Mookie Blaylock     3  PG        18.0          9.371000
14492          P.J. Brown  -1.0  PF         0.0          6.226767
14061  Christian Laettner  -1.0  PF         0.0          5.221625
13992          Shawn Kemp    6T  PF         1.0          4.580391
14386      Lindsey Hunter  -1.0  PG         0.0          2.221333

---------------------------------------------------------------------
Selected Features Top  10  Test year :  1998
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 1.2936162445882118
R-squared (XGBoost): 0.792163879710001

           Player_name  Rank Pos  Points_won  Predicted_points
13894  Dikembe Mutombo     1   C        39.0         25.482309
13764      Gary Payton     2  PG        37.0         21.051516
13740  Hakeem Olajuwon    -1   C         0.0          5.196792
13601    Kevin Garnett   11T  PF         1.0          2.224842
13605   David Robinson     3   C        10.0          1.826423
13956   Charles Oakley    -1  PF         0.0          1.721777
13889       Tim Duncan    5T  PF         4.0          1.457500
13836   Michael Jordan     4  SG         6.0          1.365962
13931      Eddie Jones  -1.0  SG         0.0          1.089939
13594        Ed Stokes  -1.0   C         0.0          1.063559

---------------------------------------------------------------------
Selected Features Top  10  Test year :  1999
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.991612783167824
R-squared (XGBoost): 0.41175614967141283

             Player_name  Rank Pos  Points_won  Predicted_points
13182    Dikembe Mutombo     2   C        10.0         32.212780
13269    Alonzo Mourning     1   C        89.0         31.907810
13424        Gary Payton     3  PG         6.0         29.479237
13039    Hakeem Olajuwon    7T   C         1.0         21.344755
13434     David Robinson     4   C         3.0          2.054426
13438         Jason Kidd  -1.0  PG         0.0          1.463236
13488         Tim Duncan    5T  PF         2.0          0.647298
13404  Anfernee Hardaway  -1.0  SG         0.0          0.561247
13165      Patrick Ewing    -1   C         0.0          0.534652
13371  Darrell Armstrong  -1.0  PG         0.0          0.471588

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2000
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 4.135180249234092
R-squared (XGBoost): 0.5735157429783672

            Player_name  Rank Pos  Points_won  Predicted_points
12956   Alonzo Mourning     1   C        62.0         55.762207
12909   Dikembe Mutombo    3T   C        11.0         37.429970
12708       Gary Payton    5T  PG         4.0         31.918678
12987    David Robinson    -1   C         0.0         10.830350
12725  Shaquille O'Neal     2   C        21.0          8.443408
12830        Tim Duncan    -1  PF         0.0          3.197887
12750   Hakeem Olajuwon    -1   C         0.0          1.308552
12843      Marcus Camby  -1.0   C         0.0          1.025028
12841     Kevin Garnett     7  PF         2.0          0.695461
12904       Kobe Bryant    5T  SG         4.0          0.656720

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2001
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.238885147636998
R-squared (XGBoost): 0.1923654499247458

           Player_name  Rank Pos  Points_won  Predicted_points
12210  Alonzo Mourning    -1   C         0.0         28.332500
12427      Gary Payton    -1  PG         0.0         11.304347
12512  Dikembe Mutombo     1   C        48.0         10.874723
12510  Dikembe Mutombo     1   C        48.0         10.872789
12106   David Robinson    5T   C         6.0          6.600447
12418      Ben Wallace    5T   C         6.0          5.819444
12271       Tim Duncan     3  PF        14.0          5.521194
12391  Hakeem Olajuwon    -1   C         0.0          4.875531
12077     Chris Webber  -1.0  PF         0.0          3.233529
12274     Shawn Marion   11T  SF         1.0          2.564060

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2002
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 28.02562155628629
R-squared (XGBoost): 0.019307020123805585

            Player_name  Rank Pos  Points_won  Predicted_points
12003   Dikembe Mutombo    3T   C         1.0         36.513016
12035   Alonzo Mourning    -1   C         0.0         29.563536
11950       Gary Payton    -1  PG         0.0         19.559023
11941       Ben Wallace     1   C       116.0         14.128008
11852        Tim Duncan    -1  PF         0.0         13.018267
11600   Rasheed Wallace  -1.0  PF         0.0          7.504123
11935       Elton Brand  -1.0  PF         0.0          3.419789
11927  Shaquille O'Neal    -1   C         0.0          3.343868
12041       Eddie Jones    -1  SG         0.0          3.318942
11936     Kevin Garnett     2  PF         2.0          2.656851

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2003
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 587.8479247309855
R-squared (XGBoost): 0.17825661424388417

           Player_name  Rank Pos  Points_won  Predicted_points
11137      Ben Wallace     1   C       531.0         57.000450
11461  Dikembe Mutombo    -1   C         0.0         18.858419
11405       Tim Duncan     4  PF        90.0         13.392841
11559       Jason Kidd    -1  PG         0.0         13.058007
11505    Dirk Nowitzki  -1.0  PF         0.0          9.840309
11183    Kevin Garnett     3  PF       121.0          3.938565
11516  Jermaine O'Neal  -1.0  PF         0.0          2.099356
11219     Chris Webber  -1.0  PF         0.0          1.830449
11173      Elton Brand  -1.0  PF         0.0          1.765511
11495      Paul Pierce  -1.0  SG         0.0          1.711485

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2004
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 1015.3230661444687
R-squared (XGBoost): -0.46884611614950855

             Player_name  Rank Pos  Points_won  Predicted_points
10663        Ben Wallace     2   C       325.0        528.510559
11127      Kevin Garnett     6  PF        36.0        525.108582
10871   Andrei Kirilenko     5  PF        67.0         80.550545
10721        Gary Payton    -1  PG         0.0         23.708796
10818         Tim Duncan     7  PF         8.0         16.501728
10722  Metta World Peace     1  SF       476.0          8.435342
10865    Alonzo Mourning    -1   C         0.0          5.736508
10992      Steve Francis  -1.0  PG         0.0          3.801142
10798      Allen Iverson    -1  SG         0.0          2.755883
10720    Tayshaun Prince  -1.0  SF         0.0          2.284139

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2005
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 403.28645364488847
R-squared (XGBoost): 0.03255548612089321

            Player_name  Rank Pos  Points_won  Predicted_points
10592  Andrei Kirilenko    10  PF        25.0         51.239960
10343     Kevin Garnett     9  PF        30.0         28.999962
10326        Tim Duncan     4  PF        81.0         23.586596
10188    Andre Iguodala   14T  SG         4.0         21.175144
10355      LeBron James  -1.0  SF         0.0         16.579062
10151     Manu Ginóbili   18T  SG         2.0         16.537804
10396       Tony Parker  -1.0  PG         0.0         12.917602
10337     Allen Iverson    11  PG        10.0         10.833891
10593      Robert Horry  -1.0  PF         0.0         10.020588
10395    Gerald Wallace  -1.0  SF         0.0          8.251456

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2006
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 220.97069208853048
R-squared (XGBoost): 0.6217531124805351

             Player_name  Rank Pos  Points_won  Predicted_points
9841         Ben Wallace     1   C       420.0        317.187012
9704        Marcus Camby     5   C        55.0        105.699554
9951          Chris Paul  -1.0  PG         0.0         69.537193
9691    Andrei Kirilenko     3  SF       121.0         60.233204
10019      Shane Battier   10T  SF         3.0         44.110439
9745     Alonzo Mourning     8   C        29.0         34.463917
9607         Tony Parker  -1.0  PG         0.0         22.337772
9863        Shawn Marion     7  PF        33.0         20.979094
9610         Bruce Bowen     2  SF       308.0         20.082518
9731   Metta World Peace     4  SF        65.0         19.988430

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2007
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 624.7879315250538
R-squared (XGBoost): -0.1263185999654144

            Player_name  Rank Pos  Points_won  Predicted_points
9414        Ben Wallace     6   C        42.0        338.406433
9418       Shawn Marion     4  SF        93.0         63.929554
9407       Marcus Camby     1   C       431.0         44.650879
9438         Tim Duncan     3   C       158.0         40.642010
9194         Josh Smith   21T  SF         3.0         38.993099
9566  Metta World Peace     8  SF        20.0         20.449396
9356      Kevin Garnett   13T  PF         7.0         17.815180
9203      Manu Ginóbili    -1  SG         0.0         16.118717
9489       LeBron James  -1.0  SF         0.0         11.372885
9344    Dikembe Mutombo    -1   C         0.0          9.246873

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2008
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 423.6753788294787
R-squared (XGBoost): 0.2893088316480956

            Player_name  Rank Pos  Points_won  Predicted_points
8731      Kevin Garnett     1  PF       493.0         81.633255
8630         Josh Smith     6  PF        34.0         58.847473
8762       Marcus Camby     2   C       178.0         52.400707
8659  Metta World Peace   16T  SF         1.0         26.501886
8573         Tim Duncan     9   C        22.0         19.541195
8966       LeBron James  -1.0  SF         0.0         14.769752
8722      Shane Battier     3  SF       175.0          9.422932
8754        Paul Pierce  -1.0  SF         0.0          9.153863
8988     Andre Iguodala    -1  SF         0.0          8.662731
9008         David West  -1.0  PF         0.0          6.834733

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2009
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 232.2600341625854
R-squared (XGBoost): 0.6429062937165759

            Player_name  Rank Pos  Points_won  Predicted_points
8212      Dwight Howard     1   C       542.0        313.727325
8365      Kevin Garnett     8  PF        31.0        198.949829
8254     Gerald Wallace    -1  SF         0.0         33.095947
8134        Paul Pierce  -1.0  SF         0.0         32.134830
8556         Chris Paul     6  PG        49.0         27.560007
8442  Metta World Peace     5  SF        54.0         27.488798
8558         Jason Kidd    -1  PG         0.0         25.109648
8194        Rajon Rondo    10  PG         8.0         23.566835
8170         Tim Duncan    11   C         7.0         22.602472
8167      Rashard Lewis  -1.0  PF         0.0         21.007868

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2010
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 114.02490933911157
R-squared (XGBoost): 0.8423066112758228

        Player_name  Rank Pos  Points_won  Predicted_points
8018  Dwight Howard     1   C       576.0        440.048828
7544    Dwyane Wade   10T  SG        13.0         82.501816
8041   LeBron James     4  SF        61.0         30.574757
7939  Kevin Garnett    -1  PF         0.0         22.719223
7892   Andrew Bogut   7.0   C        23.0         22.391644
7797   Marcus Camby   10T  PF        13.0         19.581209
7799   Marcus Camby   10T   C        13.0         19.559231
7553     Josh Smith     2  PF       136.0         15.396852
8016    Rajon Rondo     5  PG        55.0         12.837253
8044     Lamar Odom  -1.0  PF         0.0         10.241752

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2011
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 427.0379314137262
R-squared (XGBoost): 0.3585993283789638

        Player_name  Rank Pos  Points_won  Predicted_points
7366  Dwight Howard     1   C       585.0        138.768723
7121  Kevin Garnett     2  PF        77.0        119.007225
7508     Josh Smith    25  PF         1.0        110.813980
7231     Chris Paul   12T  PG        13.0         91.759743
7523   Andrew Bogut   6.0   C        32.0         62.070351
7321    Rajon Rondo     5  PG        45.0         35.416126
7522   Emeka Okafor    -1   C         0.0         27.990345
7400      Luol Deng  10.0  SF        24.0         26.024967
7111      Pau Gasol  -1.0   C         0.0         24.336580
7091    Paul Pierce  -1.0  SF         0.0         23.818443

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2012
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 470.8439538743913
R-squared (XGBoost): -0.040424713187297456

        Player_name  Rank Pos  Points_won  Predicted_points
6601  Carlos Boozer  -1.0  PF         0.0        188.201950
6487    Elton Brand    -1   C         0.0        113.554947
6527    Serge Ibaka   2.0  PF       294.0         69.138512
6874    Paul George  -1.0  SG         0.0         43.732433
6747     Josh Smith    10  PF         9.0         42.572926
6938     Marc Gasol   12T   C         5.0         40.515663
6572   LeBron James     4  SF       112.0         35.557331
6603  Zaza Pachulia  -1.0   C         0.0         33.624767
6764  Ronnie Brewer  -1.0  SG         0.0         33.407902
6878   Jrue Holiday  -1.0  PG         0.0         33.154785

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2013
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 137.60568721293535
R-squared (XGBoost): 0.42801671697568777

         Player_name  Rank Pos  Points_won  Predicted_points
6005     Serge Ibaka   3.0  PF       122.0        166.215500
6217      Marc Gasol     1   C       212.0        124.326874
5996   Dwight Howard    14   C         9.0        100.016861
6242     Paul George   8.0  SF        57.0         81.276825
6265   Kevin Garnett    -1   C         0.0         68.934669
6330     Joakim Noah   4.0   C       107.0         64.651688
6094     Mike Conley    21  PG         1.0         64.256905
6239  Tiago Splitter  -1.0  PF         0.0         49.387657
6142    Kevin Durant  -1.0  SF         0.0         46.991772
6206   Larry Sanders   7.0   C        90.0         45.364330

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2014
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 81.42856370553946
R-squared (XGBoost): 0.8759778564034674

           Player_name  Rank Pos  Points_won  Predicted_points
5847       Joakim Noah   1.0   C       555.0        494.927155
5804       Serge Ibaka   4.0  PF        79.0         79.627831
5597  DeMarcus Cousins  -1.0   C         0.0         50.015114
5716        Marc Gasol   15T   C         4.0         41.248333
5895      Jimmy Butler    -1  SG         0.0         40.056423
5624     Anthony Davis    8T  PF        25.0         38.280548
5805    Andre Iguodala     5  SF        47.0         33.454823
5898    DeAndre Jordan   3.0   C       121.0         29.612974
5952       Paul George   7.0  SF        30.0         29.458555
5956    Tiago Splitter  -1.0   C         0.0         27.077726

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2015
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 361.5809724155929
R-squared (XGBoost): 0.28763329628654344

           Player_name  Rank Pos  Points_won  Predicted_points
5011    DeAndre Jordan   3.0   C       261.0        131.740463
4890        Marc Gasol   10T   C         7.0         88.346458
5393     Anthony Davis     4  PF       107.0         86.929184
5314     Kawhi Leonard     1  SF       333.0         64.960342
4915        Tim Duncan     8   C        12.0         52.241470
5017      Paul Millsap  -1.0  PF         0.0         44.379494
5031  Hassan Whiteside   15T   C         1.0         34.184124
4967   Khris Middleton  -1.0  SF         0.0         28.358068
5273      James Harden  -1.0  SG         0.0         27.831972
4907     Kevin Garnett    -1  PF         0.0         24.787394

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2016
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 252.88092572041
R-squared (XGBoost): 0.7241956514059562

           Player_name  Rank Pos  Points_won  Predicted_points
4426     Kawhi Leonard     1  SF       547.0        405.864655
4570  Hassan Whiteside     3   C        83.0        260.574493
4597    Draymond Green     2  PF       421.0        172.038437
4474    DeAndre Jordan   4.0   C        50.0        134.038528
4820    Andre Drummond    10   C         3.0         95.632820
4373       Rudy Gobert   7.0   C        13.0         46.650681
4580       Danny Green  -1.0  SG         0.0         35.269318
4571      Paul Millsap   5.0  PF        21.0         27.392252
4825   DeMarre Carroll    -1  SF         0.0         24.915815
4816     Stephen Curry  -1.0  PG         0.0         15.774347

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2017
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 119.58044206014247
R-squared (XGBoost): 0.7783362654998613

           Player_name  Rank Pos  Points_won  Predicted_points
3989    Draymond Green     1  PF       434.0        540.863892
3977       Rudy Gobert   2.0   C       269.0        238.886505
4129     Anthony Davis    -1   C         0.0        200.456116
4268     Kawhi Leonard     3  SF       182.0        173.470734
3870  Hassan Whiteside    5T   C         3.0         61.408989
4054     Dwight Howard    -1   C         0.0         51.622494
3982    Andre Drummond    -1   C         0.0         49.568851
3951        Marc Gasol    -1   C         0.0         32.806541
4131       Edy Tavares  -1.0   C         0.0         22.282366
4134       Edy Tavares  -1.0   C         0.0         22.210484

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2018
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 383.3657287926952
R-squared (XGBoost): 0.12540658869635324

                Player_name  Rank Pos  Points_won  Predicted_points
3302        Al-Farouq Aminu  -1.0  PF         0.0         45.458122
3403            Rudy Gobert   1.0   C       466.0         41.617298
3598         Victor Oladipo   15T  SG         1.0         23.744095
3595            Ben Simmons  -1.0  PG         0.0         12.355112
3312          Dwight Howard    -1   C         0.0         11.496361
3686        Josh Richardson  -1.0  SF         0.0          8.901579
3655       Robert Covington   8.0  SF         8.0          8.416473
3650            Joakim Noah  -1.0   C         0.0          7.871368
3222  Giannis Antetokounmpo  -1.0  PF         0.0          7.825734
3372           Jrue Holiday     7  SG        11.0          6.846354

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2019
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 43.13371457096402
R-squared (XGBoost): 0.9004519482387476

                Player_name Rank Pos  Points_won  Predicted_points
2825            Rudy Gobert  1.0   C       411.0        327.877747
3114  Giannis Antetokounmpo  2.0  PF       280.0        299.906006
2562           Myles Turner  5.0   C        15.0         63.050308
3148         Andre Drummond   -1   C         0.0         37.586678
2932            Paul George  3.0  SF       150.0         37.122990
2979             Marc Gasol   -1   C         0.0         27.419342
2980             Marc Gasol   -1   C         0.0         24.143354
2702          Kawhi Leonard   6T  SF         6.0         18.732481
2876         Draymond Green   6T  PF         6.0         16.762770
2699           Marcus Smart    8  SG         4.0         14.272324

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2020
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 395.9839181176845
R-squared (XGBoost): 0.10581064885061409

                Player_name  Rank Pos  Points_won  Predicted_points
2524            Rudy Gobert   3.0   C       187.0        329.201630
2017       Hassan Whiteside    11   C         3.0        172.074097
2198          Kawhi Leonard    8T  SF         5.0        118.674767
2466         Jonathan Isaac  -1.0  PF         0.0         75.493980
2270          Anthony Davis     2  PF       200.0         71.700645
2094            Brook Lopez  10.0   C         4.0         64.977448
2127  Giannis Antetokounmpo   1.0  PF       432.0         54.218487
1987       Patrick Beverley    6T  PG         7.0         30.857264
2509            P.J. Tucker  -1.0  PF         0.0         26.205713
2326           Myles Turner  -1.0   C         0.0         20.127050

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2021
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 179.2529143568867
R-squared (XGBoost): 0.6302140094774018

                Player_name  Rank Pos  Points_won  Predicted_points
1379            Rudy Gobert   1.0   C       464.0        340.145660
1719           Myles Turner   9.0   C         3.0         75.291267
1895  Giannis Antetokounmpo   5.0  PF        12.0         71.251427
1422         Draymond Green     3  PF        76.0         21.830442
1716           Clint Capela   6.0   C        10.0         15.545266
1820      Russell Westbrook    -1  PG         0.0         14.652932
1741       Matisse Thybulle   11T  SG         1.0         14.461318
1604           Jimmy Butler    10  SF         2.0         14.441780
1843          Fred VanVleet  -1.0  SG         0.0         12.110462
1937           Jakob Poeltl  -1.0   C         0.0         11.750654

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2022
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 158.1887558879371
R-squared (XGBoost): 0.2649753195741257

                Player_name  Rank Pos  Points_won  Predicted_points
1022            Rudy Gobert   3.0   C       136.0        217.645737
1111  Giannis Antetokounmpo   6.0  PF        58.0        136.507507
713            Marcus Smart     1  PG       257.0         68.831451
1212           Jayson Tatum  -1.0  SF         0.0         46.672813
933              Al Horford     9   C         3.0         37.560493
1184           Nikola Jokić  -1.0   C         0.0         22.661442
1007            Joel Embiid    -1   C         0.0         22.571201
997       Jaren Jackson Jr.   5.0  PF        99.0         18.671509
1306            Bam Adebayo   4.0   C       128.0         18.360332
1026           Myles Turner  -1.0   C         0.0         15.771612

---------------------------------------------------------------------
Selected Features Top  10  Test year :  2023
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 314.23383627279713
R-squared (XGBoost): 0.2615248797244031

               Player_name  Rank Pos  Points_won  Predicted_points
59       Jaren Jackson Jr.   1.0   C       391.0         91.542976
176  Giannis Antetokounmpo   6.0  PF        14.0         67.674706
208         Walker Kessler  -1.0   C         0.0         20.923491
323            Brook Lopez   2.0   C       309.0         16.097940
301          Anthony Davis    -1   C         0.0         13.355062
392          Jacob Gilyard  -1.0  PG         0.0         11.342652
206            Nic Claxton    9T   C         7.0          9.976711
60             Alex Caruso  11.0  PG         2.0          9.858918
497            Joel Embiid    9T   C         7.0          6.710688
309       Matisse Thybulle    -1  SG         0.0          6.463059

---------------------------------------------------------------------

,Rank_1994,Rank_1995,Rank_1996,Rank_1997,Rank_1998,Rank_1999,Rank_2000,Rank_2001,Rank_2002,Rank_2003,...,Rank_2014,Rank_2015,Rank_2016,Rank_2017,Rank_2018,Rank_2019,Rank_2020,Rank_2021,Rank_2022,Rank_2023
0,1,1,1,2,1,2,1,-1,3T,1,...,1.0,3.0,1,1,-1.0,1.0,3.0,1.0,3.0,1.0
1,4,3,3,1,2,1,3T,-1,-1,-1,...,4.0,10T,3,2.0,1.0,2.0,11,9.0,6.0,6.0
2,7T,2,5,-1,-1,3,5T,1,-1,4,...,-1.0,4,2,-1,15T,5.0,8T,5.0,1,-1.0
3,2,-1,4,4,11T,7T,-1,1,1,-1,...,15T,1,4.0,3,-1.0,-1,-1.0,3,-1.0,2.0
4,-1.0,4,-1.0,-1.0,3,4,2,5T,-1,-1.0,...,-1,8,10,5T,-1,3.0,2,6.0,9,-1
5,-1.0,-1,-1,3,-1,-1.0,-1,5T,-1.0,3,...,8T,-1.0,7.0,-1,-1.0,-1,10.0,-1,-1.0,-1.0
6,5,-1.0,6,-1.0,5T,5T,-1,3,-1.0,-1.0,...,5,15T,-1.0,-1,8.0,-1,1.0,11T,-1,9T
7,3,-1.0,-1.0,-1.0,4,-1.0,-1.0,-1,-1,-1.0,...,3.0,-1.0,5.0,-1,-1.0,6T,6T,10,5.0,11.0
8,-1,-1.0,2,6T,-1.0,-1,7,-1.0,-1,-1.0,...,7.0,-1.0,-1,-1.0,-1.0,6T,-1.0,-1.0,4.0,9T
9,9,-1.0,-1.0,-1.0,-1.0,-1.0,5T,11T,2,-1.0,...,-1.0,-1,-1.0,-1.0,7,8,-1.0,-1.0,-1.0,-1

In [33]:
top = top_20

rank_data_20 = pd.DataFrame()

for year in range(1994,2024):
    print("Selected Features Top ",20," Test year : ", year)
    Test_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] == year]
    Train_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] < year]
    
    X_train, y_train = Data_Organizer(Train_Data,top)
    X_test , y_test = Data_Organizer(Test_Data,top)
    
    # Initialize and train a XGBoost Regressor model
    xgb_model = XGBRegressor(n_estimators=200,max_depth = 5, random_state=42, n_jobs=-1)
    xgb_model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred_xgb = xgb_model.predict(X_test)
    
    # Evaluate the model
    mse_xgb = mean_squared_error(y_test, y_pred_xgb)
    r2_xgb = r2_score(y_test, y_pred_xgb)
    
    # Mean Squared Error (MAE)
    print(f'Mean Squared Error (XGBoost): {mse_xgb}')
    print(f'R-squared (XGBoost): {r2_xgb}')
    
    Test_Data_copy = Test_Data.copy()
    Test_Data_copy.loc[:, 'Predicted_points'] = y_pred_xgb
    
    # Select only the desired columns
    Test_Data_concatenated = Test_Data_copy[['Player_name','Rank','Pos','Points_won', 'Predicted_points']]
    
    # Display the concatenated DataFrame sorted by 'Points_won'
    display(Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10))

    Test_Data_concatenated = Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10)
    
    if rank_data_20.empty:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_20 = pd.DataFrame(new_rank_column)
    else:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_20 = pd.concat([rank_data_20.reset_index(drop=True), new_rank_column.reset_index(drop=True)], axis=1)

    print("---------------------------------------------------------------------")

display(rank_data_20)

Selected Features Top  20  Test year :  1994
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.21713373511267
R-squared (XGBoost): -0.9538774216566877

           Player_name  Rank Pos  Points_won  Predicted_points
15651  Hakeem Olajuwon     1   C        23.0         72.998779
15477   Scottie Pippen     4  SF        11.0          8.881651
15583  Mookie Blaylock    7T  PG         3.0          8.855267
15539   David Robinson     2   C        22.0          8.813155
15739    Patrick Ewing    -1   C         0.0          1.845985
15435      Otis Thorpe  -1.0  PF         0.0          1.653562
15531   LaPhonso Ellis  -1.0  PF         0.0          1.605274
15577       Shawn Kemp  -1.0  PF         0.0          1.466537
15613      Karl Malone  -1.0  PF         0.0          1.128452
15525    Dennis Rodman     6  PF         8.0          1.008812

---------------------------------------------------------------------
Selected Features Top  20  Test year :  1995
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 2.856330144337982
R-squared (XGBoost): 0.5460043207171872

           Player_name  Rank Pos  Points_won  Predicted_points
15026  Dikembe Mutombo     1   C        45.0         72.972687
14994  Hakeem Olajuwon     3   C        13.0         23.003784
15113   David Robinson     4   C        12.0         21.294519
15199   Scottie Pippen     2  SF        16.0         20.804983
15077  Mookie Blaylock    -1  PG         0.0          6.164573
14993      Tyrone Hill  -1.0   C         0.0          3.644063
15397       Dale Davis  -1.0  PF         0.0          3.573939
15329       Grant Long  -1.0  PF         0.0          3.335885
15404  Alonzo Mourning    6T   C         2.0          3.296584
15051    Patrick Ewing    -1   C         0.0          3.201173

---------------------------------------------------------------------
Selected Features Top  20  Test year :  1996
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 3.6284702669550186
R-squared (XGBoost): 0.5163869297767492

           Player_name  Rank Pos  Points_won  Predicted_points
14887  Dikembe Mutombo     3   C        11.0         44.951412
14844      Gary Payton     1  PG        56.0         37.807636
14897   David Robinson     4   C         9.0         14.301159
14797  Hakeem Olajuwon     5   C         8.0         12.832012
14945      Otis Thorpe  -1.0  PF         0.0          6.030309
14672    Ervin Johnson  -1.0   C         0.0          5.849109
14749   Scottie Pippen     2  SF        15.0          5.829033
14770      Sam Perkins  -1.0  PF         0.0          4.328716
14619   Michael Jordan     6  SG         7.0          4.108397
14666   Hersey Hawkins  -1.0  SG         0.0          3.014886

---------------------------------------------------------------------
Selected Features Top  20  Test year :  1997
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.860773720563115
R-squared (XGBoost): 0.1177794734874944

           Player_name  Rank Pos  Points_won  Predicted_points
14149      Gary Payton     2  PG        25.0         72.716255
14489  Dikembe Mutombo     1   C        60.0         26.125174
14210  Hakeem Olajuwon    -1   C         0.0         16.045578
14164   Scottie Pippen     4  SF         4.0         11.011824
14184       Grant Hill  -1.0  SF         0.0          4.854492
14333  Mookie Blaylock     3  PG        18.0          3.508228
14081   Michael Jordan     5  SG         3.0          3.209955
14492       P.J. Brown  -1.0  PF         0.0          3.201436
14056      Karl Malone  -1.0  PF         0.0          2.570546
14038      Eddie Jones  -1.0  SG         0.0          2.437375

---------------------------------------------------------------------
Selected Features Top  20  Test year :  1998
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 1.143524786601526
R-squared (XGBoost): 0.8162780066368409

           Player_name  Rank Pos  Points_won  Predicted_points
13894  Dikembe Mutombo     1   C        39.0         23.949648
13764      Gary Payton     2  PG        37.0         21.611124
13605   David Robinson     3   C        10.0         14.454536
13889       Tim Duncan    5T  PF         4.0          3.918067
13956   Charles Oakley    -1  PF         0.0          3.843385
13836   Michael Jordan     4  SG         6.0          3.542882
13557     Charlie Ward  -1.0  PG         0.0          2.123028
13601    Kevin Garnett   11T  PF         1.0          2.016712
13637    Dennis Rodman    5T  PF         4.0          1.804589
13741       A.C. Green  -1.0  PF         0.0          1.501984

---------------------------------------------------------------------
Selected Features Top  20  Test year :  1999
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 5.547216786906332
R-squared (XGBoost): 0.6734144695004294

             Player_name  Rank Pos  Points_won  Predicted_points
13269    Alonzo Mourning     1   C        89.0         43.001717
13424        Gary Payton     3  PG         6.0         27.736729
13182    Dikembe Mutombo     2   C        10.0          7.499094
13488         Tim Duncan    5T  PF         2.0          5.087982
13438         Jason Kidd  -1.0  PG         0.0          2.224900
13039    Hakeem Olajuwon    7T   C         1.0          2.145367
13445      Kevin Garnett    7T  PF         1.0          1.689246
13404  Anfernee Hardaway  -1.0  SG         0.0          1.541902
13092      Shawn Bradley  -1.0   C         0.0          1.478042
13434     David Robinson     4   C         3.0          1.345507

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2000
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 4.293861250377447
R-squared (XGBoost): 0.5571500842169124

            Player_name  Rank Pos  Points_won  Predicted_points
12956   Alonzo Mourning     1   C        62.0         25.544277
12708       Gary Payton    5T  PG         4.0         21.107939
12725  Shaquille O'Neal     2   C        21.0          9.640645
12830        Tim Duncan    -1  PF         0.0          4.575477
12987    David Robinson    -1   C         0.0          3.594178
12841     Kevin Garnett     7  PF         2.0          2.509708
12651       Ben Wallace  -1.0  PF         0.0          1.535717
12909   Dikembe Mutombo    3T   C        11.0          1.104366
12978      Theo Ratliff    -1  PF         0.0          0.895002
12741       Eddie Jones    3T  SG        11.0          0.797988

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2001
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.095720809094665
R-squared (XGBoost): 0.20488043028198422

           Player_name  Rank Pos  Points_won  Predicted_points
12210  Alonzo Mourning    -1   C         0.0         23.720842
12271       Tim Duncan     3  PF        14.0         11.263327
12510  Dikembe Mutombo     1   C        48.0          8.403026
12512  Dikembe Mutombo     1   C        48.0          8.250239
12274     Shawn Marion   11T  SF         1.0          6.921032
12106   David Robinson    5T   C         6.0          5.433393
12427      Gary Payton    -1  PG         0.0          3.739837
12418      Ben Wallace    5T   C         6.0          2.800938
12077     Chris Webber  -1.0  PF         0.0          2.669737
12285    Doug Christie   4.0  SG         9.0          2.051313

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2002
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 17.334263232107727
R-squared (XGBoost): 0.3934268244894292

           Player_name  Rank Pos  Points_won  Predicted_points
11941      Ben Wallace     1   C       116.0         47.264759
12003  Dikembe Mutombo    3T   C         1.0         43.553867
12035  Alonzo Mourning    -1   C         0.0         31.216936
11852       Tim Duncan    -1  PF         0.0         19.043400
11936    Kevin Garnett     2  PF         2.0         11.334602
11637      Paul Pierce  -1.0  SG         0.0          6.853779
11741       Jason Kidd    -1  PG         0.0          6.000556
11600  Rasheed Wallace  -1.0  PF         0.0          4.705896
11800    Doug Christie  -1.0  SG         0.0          4.539330
11892  Hakeem Olajuwon    -1   C         0.0          3.253034

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2003
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 585.2471644310831
R-squared (XGBoost): 0.181892176239548

           Player_name  Rank Pos  Points_won  Predicted_points
11137      Ben Wallace     1   C       531.0         58.136364
11405       Tim Duncan     4  PF        90.0         13.071148
11505    Dirk Nowitzki  -1.0  PF         0.0         10.625263
11559       Jason Kidd    -1  PG         0.0          8.502536
11219     Chris Webber  -1.0  PF         0.0          7.580913
11177      Gary Payton    11  PG         5.0          6.422517
11516  Jermaine O'Neal  -1.0  PF         0.0          5.348352
11183    Kevin Garnett     3  PF       121.0          4.513790
11173      Elton Brand  -1.0  PF         0.0          3.345185
11438      Vlade Divac  -1.0   C         0.0          2.735893

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2004
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 985.9459573098974
R-squared (XGBoost): -0.4263468825024106

             Player_name  Rank Pos  Points_won  Predicted_points
10663        Ben Wallace     2   C       325.0        528.128540
11127      Kevin Garnett     6  PF        36.0        526.605774
10625   Donyell Marshall  -1.0  PF         0.0         45.130672
10818         Tim Duncan     7  PF         8.0         33.775772
10722  Metta World Peace     1  SF       476.0         27.055531
10871   Andrei Kirilenko     5  PF        67.0         20.680912
10721        Gary Payton    -1  PG         0.0         10.963323
10646        Alex Garcia  -1.0  SG         0.0         10.963031
11106    Dikembe Mutombo    -1   C         0.0         10.138217
10852        Bruce Bowen     4  SF        76.0          8.059062

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2005
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 367.20892505159543
R-squared (XGBoost): 0.11910192673759579

             Player_name  Rank Pos  Points_won  Predicted_points
10592   Andrei Kirilenko    10  PF        25.0         48.430229
10427       Vince Carter  -1.0  SG         0.0         37.347630
10455        Ben Wallace     1   C       339.0         33.642288
10343      Kevin Garnett     9  PF        30.0         32.320190
10326         Tim Duncan     4  PF        81.0         23.862236
10261  Metta World Peace    -1  SF         0.0         18.126341
10423       Vince Carter  -1.0  SF         0.0         14.301042
10338       Shawn Marion     5  PF        57.0         13.038368
10151      Manu Ginóbili   18T  SG         2.0         11.515157
10355       LeBron James  -1.0  SF         0.0         11.441341

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2006
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 195.45177805172202
R-squared (XGBoost): 0.6654351488450336

            Player_name  Rank Pos  Points_won  Predicted_points
9841        Ben Wallace     1   C       420.0        331.859009
9704       Marcus Camby     5   C        55.0        158.300598
9610        Bruce Bowen     2  SF       308.0         55.032444
9951         Chris Paul  -1.0  PG         0.0         43.393837
9731  Metta World Peace     4  SF        65.0         37.842758
9863       Shawn Marion     7  PF        33.0         35.452614
9730  Metta World Peace     4  SF        65.0         34.627731
9691   Andrei Kirilenko     3  SF       121.0         30.935799
9676        Elton Brand   10T  PF         3.0         28.817188
9745    Alonzo Mourning     8   C        29.0         27.755022

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2007
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 580.0640185976356
R-squared (XGBoost): -0.04569384322527115

            Player_name  Rank Pos  Points_won  Predicted_points
9414        Ben Wallace     6   C        42.0        274.077454
9418       Shawn Marion     4  SF        93.0         66.348404
9344    Dikembe Mutombo    -1   C         0.0         56.487083
9566  Metta World Peace     8  SF        20.0         39.617981
9355      Shane Battier     5  SF        86.0         31.386452
9407       Marcus Camby     1   C       431.0         30.674660
9356      Kevin Garnett   13T  PF         7.0         30.024456
9440      Dirk Nowitzki  -1.0  PF         0.0         23.336531
9438         Tim Duncan     3   C       158.0         19.009861
9542       Devin Harris   24T  PG         1.0         18.666426

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2008
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 461.8150661799596
R-squared (XGBoost): 0.22533169179499346

            Player_name  Rank Pos  Points_won  Predicted_points
8762       Marcus Camby     2   C       178.0         71.358566
8573         Tim Duncan     9   C        22.0         63.233070
8731      Kevin Garnett     1  PF       493.0         54.451862
8659  Metta World Peace   16T  SF         1.0         52.148746
8678        Rajon Rondo   16T  PG         1.0         46.291626
8568       Shawn Marion    -1  PF         0.0         33.941422
8630         Josh Smith     6  PF        34.0         28.442078
8722      Shane Battier     3  SF       175.0         23.329393
8705    Peja Stojaković  -1.0  SF         0.0         17.219473
8588       Shawn Marion    -1  PF         0.0         11.924855

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2009
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 188.32832955760347
R-squared (XGBoost): 0.7104501364500182

            Player_name  Rank Pos  Points_won  Predicted_points
8212      Dwight Howard     1   C       542.0        410.683136
8365      Kevin Garnett     8  PF        31.0        227.444504
8558         Jason Kidd    -1  PG         0.0         60.100513
8556         Chris Paul     6  PG        49.0         45.291264
8194        Rajon Rondo    10  PG         8.0         29.283438
8430          Pau Gasol  -1.0   C         0.0         18.916351
8494       Trevor Ariza   16T  SF         1.0         18.825480
8442  Metta World Peace     5  SF        54.0         17.824348
8098        Bruce Bowen    -1  SF         0.0         15.888346
8426        Kobe Bryant     7  SG        43.0         14.042569

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2010
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 80.52776494548786
R-squared (XGBoost): 0.8886322627727605

        Player_name  Rank Pos  Points_won  Predicted_points
8018  Dwight Howard     1   C       576.0        517.010132
7544    Dwyane Wade   10T  SG        13.0         62.989914
8041   LeBron James     4  SF        61.0         42.240753
7799   Marcus Camby   10T   C        13.0         25.968639
7797   Marcus Camby   10T  PF        13.0         21.712160
7777   Kevin Durant  -1.0  SF         0.0         21.001383
7823  Ronnie Brewer  -1.0  SG         0.0         15.802488
7683     Tim Duncan    14   C         7.0         10.905426
7892   Andrew Bogut   7.0   C        23.0          9.216706
7553     Josh Smith     2  PF       136.0          8.592607

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2011
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 557.3757455186825
R-squared (XGBoost): 0.1628350757099335

            Player_name  Rank Pos  Points_won  Predicted_points
7508         Josh Smith    25  PF         1.0         86.277039
7231         Chris Paul   12T  PG        13.0         69.752251
7523       Andrew Bogut   6.0   C        32.0         59.079952
7366      Dwight Howard     1   C       585.0         57.876358
7522       Emeka Okafor    -1   C         0.0         34.714596
7321        Rajon Rondo     5  PG        45.0         28.082632
7428  Metta World Peace    18  SF         6.0         27.730970
7121      Kevin Garnett     2  PF        77.0         26.892502
7391     Tyson Chandler     3   C        70.0         19.413330
7018      Ronnie Brewer  -1.0  SG         0.0         14.791025

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2012
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 292.77954029909046
R-squared (XGBoost): 0.35304453474185793

         Player_name  Rank Pos  Points_won  Predicted_points
6510   Dwight Howard     3   C       186.0        110.603081
6527     Serge Ibaka   2.0  PF       294.0         76.852554
6987   Kevin Garnett     5   C        44.0         59.541630
6874     Paul George  -1.0  SG         0.0         40.177876
6938      Marc Gasol   12T   C         5.0         39.381573
6868       Pau Gasol  -1.0  PF         0.0         27.727264
6703  Tyson Chandler     1   C       311.0         22.417730
6572    LeBron James     4  SF       112.0         21.154419
6747      Josh Smith    10  PF         9.0         21.115911
6916      Tim Duncan    -1   C         0.0         19.643291

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2013
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 140.39991258194985
R-squared (XGBoost): 0.41640200662141635

         Player_name  Rank Pos  Points_won  Predicted_points
6005     Serge Ibaka   3.0  PF       122.0        143.565536
6217      Marc Gasol     1   C       212.0         65.352333
6094     Mike Conley    21  PG         1.0         59.954510
6142    Kevin Durant  -1.0  SF         0.0         45.554039
6265   Kevin Garnett    -1   C         0.0         42.386162
6242     Paul George   8.0  SF        57.0         40.182339
5996   Dwight Howard    14   C         9.0         38.755222
6084    LeBron James     2  PF       149.0         37.754696
6373      Tony Allen   5.0  SG       102.0         36.716568
6239  Tiago Splitter  -1.0  PF         0.0         33.259888

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2014
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 107.62019453129314
R-squared (XGBoost): 0.8360859308741704

         Player_name  Rank Pos  Points_won  Predicted_points
5847     Joakim Noah   1.0   C       555.0        511.701385
5716      Marc Gasol   15T   C         4.0        131.264420
5952     Paul George   7.0  SF        30.0        122.994972
5461   Kawhi Leonard    11  SF         9.0         69.035728
5804     Serge Ibaka   4.0  PF        79.0         65.283539
5898  DeAndre Jordan   3.0   C       121.0         56.147205
5948     Roy Hibbert   2.0   C       166.0         43.968941
5641      Chris Paul   13T  PG         5.0         33.836533
5418     Danny Green  -1.0  SG         0.0         32.338676
5624   Anthony Davis    8T  PF        25.0         29.812105

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2015
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 181.80927292070427
R-squared (XGBoost): 0.6418094912743337

         Player_name  Rank Pos  Points_won  Predicted_points
5314   Kawhi Leonard     1  SF       333.0        189.416992
5011  DeAndre Jordan   3.0   C       261.0        135.382446
5393   Anthony Davis     4  PF       107.0         92.806725
5107  Draymond Green     2  PF       317.0         66.798531
4908   Kevin Garnett    -1  PF         0.0         39.350697
5216      Tony Allen   7.0  SG        29.0         33.103317
4890      Marc Gasol   10T   C         7.0         24.477203
5078     Joakim Noah  12.0   C         4.0         22.185452
4915      Tim Duncan     8   C        12.0         20.925339
5225     Serge Ibaka  -1.0  PF         0.0         20.604124

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2016
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 244.38439434217048
R-squared (XGBoost): 0.7334623855236377

           Player_name  Rank Pos  Points_won  Predicted_points
4426     Kawhi Leonard     1  SF       547.0        417.976807
4570  Hassan Whiteside     3   C        83.0        237.668137
4597    Draymond Green     2  PF       421.0        152.037186
4474    DeAndre Jordan   4.0   C        50.0        134.672043
4580       Danny Green  -1.0  SG         0.0         51.988178
4820    Andre Drummond    10   C         3.0         51.533524
4816     Stephen Curry  -1.0  PG         0.0         34.267166
4773      Andrew Bogut  -1.0   C         0.0         30.893578
4782        Tim Duncan    -1   C         0.0         19.096235
4571      Paul Millsap   5.0  PF        21.0         13.894827

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2017
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 81.37776212620123
R-squared (XGBoost): 0.8491517647251603

                Player_name  Rank Pos  Points_won  Predicted_points
3989         Draymond Green     1  PF       434.0        439.122650
4268          Kawhi Leonard     3  SF       182.0        216.371277
3977            Rudy Gobert   2.0   C       269.0        112.409706
4129          Anthony Davis    -1   C         0.0         98.226212
4131            Edy Tavares  -1.0   C         0.0         44.958954
3870       Hassan Whiteside    5T   C         3.0         32.705273
3988      Russell Westbrook    -1  PG         0.0         31.252558
4080       DeMarcus Cousins  -1.0   C         0.0         31.123598
4212  Giannis Antetokounmpo  -1.0  SF         0.0         26.534908
4134            Edy Tavares  -1.0   C         0.0         23.754585

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2018
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 269.8544690179902
R-squared (XGBoost): 0.3843660951195714

                Player_name  Rank Pos  Points_won  Predicted_points
3403            Rudy Gobert   1.0   C       466.0        127.944321
3270         Draymond Green     6  PF        20.0         31.001345
3324         Andre Drummond   15T   C         1.0         19.151484
3363          Kyle Anderson  -1.0  SF         0.0         15.679813
3655       Robert Covington   8.0  SF         8.0         13.891657
3542            Aron Baynes  -1.0   C         0.0         13.179291
3583           Clint Capela  14.0   C         2.0          9.309239
3177          Anthony Davis     3  PF       139.0          9.162371
3222  Giannis Antetokounmpo  -1.0  PF         0.0          8.345413
3247          Klay Thompson  11.0  SG         4.0          6.469358

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2019
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 122.17963848045315
R-squared (XGBoost): 0.7180223151054386

                Player_name  Rank Pos  Points_won  Predicted_points
2825            Rudy Gobert   1.0   C       411.0        254.993195
3114  Giannis Antetokounmpo   2.0  PF       280.0        235.616745
2562           Myles Turner   5.0   C        15.0        120.557869
2702          Kawhi Leonard    6T  SF         6.0        111.255020
3003           Steven Adams    -1   C         0.0         53.841270
2744            P.J. Tucker  -1.0  PF         0.0         41.504448
2671          Anthony Davis    -1   C         0.0         40.587101
2963            Joel Embiid     4   C        26.0         38.221214
3139      Russell Westbrook    -1  PG         0.0         36.931656
2738            Brook Lopez  -1.0   C         0.0         34.029133

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2020
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 157.62582392820832
R-squared (XGBoost): 0.6440579357546963

                Player_name  Rank Pos  Points_won  Predicted_points
2127  Giannis Antetokounmpo   1.0  PF       432.0        290.153625
2017       Hassan Whiteside    11   C         3.0        121.462044
2466         Jonathan Isaac  -1.0  PF         0.0        108.892487
2094            Brook Lopez  10.0   C         4.0        105.820244
2524            Rudy Gobert   3.0   C       187.0        104.957527
2270          Anthony Davis     2  PF       200.0         74.970497
1968           James Harden  -1.0  SG         0.0         64.509186
2037              Kris Dunn  -1.0  PG         0.0         63.329933
2069            John Henson  -1.0   C         0.0         53.116192
2465         Draymond Green    -1  PF         0.0         31.533396

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2021
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 193.22775645341693
R-squared (XGBoost): 0.6013849059417482

                Player_name  Rank Pos  Points_won  Predicted_points
1379            Rudy Gobert   1.0   C       464.0        292.954041
1719           Myles Turner   9.0   C         3.0         57.801422
1895  Giannis Antetokounmpo   5.0  PF        12.0         48.647667
1558       DeMarcus Cousins  -1.0   C         0.0         24.552544
1402             Marc Gasol    -1   C         0.0         22.655664
1422         Draymond Green     3  PF        76.0         21.063557
1741       Matisse Thybulle   11T  SG         1.0         13.028230
1937           Jakob Poeltl  -1.0   C         0.0         11.208720
1575       Robert Covington  -1.0  PF         0.0         10.501766
1604           Jimmy Butler    10  SF         2.0          8.338817

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2022
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 156.57697372594623
R-squared (XGBoost): 0.27246447177008026

                Player_name  Rank Pos  Points_won  Predicted_points
1022            Rudy Gobert   3.0   C       136.0        123.172592
1111  Giannis Antetokounmpo   6.0  PF        58.0         92.756042
1007            Joel Embiid    -1   C         0.0         36.331364
713            Marcus Smart     1  PG       257.0         29.923325
1184           Nikola Jokić  -1.0   C         0.0         28.256666
1123         Draymond Green    10  PF         2.0         28.203093
1012     Xavier Tillman Sr.  -1.0  PF         0.0         20.822206
628           Mikal Bridges   2.0  SF       202.0         20.605846
1306            Bam Adebayo   4.0   C       128.0         15.332803
1176            Jae Crowder    -1  PF         0.0         10.387307

---------------------------------------------------------------------
Selected Features Top  20  Test year :  2023
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 360.08584056695105
R-squared (XGBoost): 0.1537689334277511

               Player_name  Rank Pos  Points_won  Predicted_points
206            Nic Claxton    9T   C         7.0        102.601387
59       Jaren Jackson Jr.   1.0   C       391.0         56.931034
176  Giannis Antetokounmpo   6.0  PF        14.0         51.069271
497            Joel Embiid    9T   C         7.0         25.489862
477         Bruno Fernando  -1.0   C         0.0         24.999241
323            Brook Lopez   2.0   C       309.0         19.323839
536         Andre Drummond    -1   C         0.0         18.040567
524            Bam Adebayo   5.0   C        18.0         14.789799
15        Domantas Sabonis  -1.0   C         0.0          8.869967
208         Walker Kessler  -1.0   C         0.0          8.140217

---------------------------------------------------------------------

,Rank_1994,Rank_1995,Rank_1996,Rank_1997,Rank_1998,Rank_1999,Rank_2000,Rank_2001,Rank_2002,Rank_2003,...,Rank_2014,Rank_2015,Rank_2016,Rank_2017,Rank_2018,Rank_2019,Rank_2020,Rank_2021,Rank_2022,Rank_2023
0,1,1,3,2,1,1,1,-1,1,1,...,1.0,1,1,1,1.0,1.0,1.0,1.0,3.0,9T
1,4,3,1,1,2,3,5T,3,3T,4,...,15T,3.0,3,3,6,2.0,11,9.0,6.0,1.0
2,7T,4,4,-1,3,2,2,1,-1,-1.0,...,7.0,4,2,2.0,15T,5.0,-1.0,5.0,-1,6.0
3,2,2,5,4,5T,5T,-1,1,-1,-1,...,11,2,4.0,-1,-1.0,6T,10.0,-1.0,1,9T
4,-1,-1,-1.0,-1.0,-1,-1.0,-1,11T,2,-1.0,...,4.0,-1,-1.0,-1.0,8.0,-1,3.0,-1,-1.0,-1.0
5,-1.0,-1.0,-1.0,3,4,7T,7,5T,-1.0,11,...,3.0,7.0,10,5T,-1.0,-1.0,2,3,10,2.0
6,-1.0,-1.0,2,5,-1.0,7T,-1.0,-1,-1,-1.0,...,2.0,10T,-1.0,-1,14.0,-1,-1.0,11T,-1.0,-1
7,-1.0,-1.0,-1.0,-1.0,11T,-1.0,3T,5T,-1.0,3,...,13T,12.0,-1.0,-1.0,3,4,-1.0,-1.0,2.0,5.0
8,-1.0,6T,6,-1.0,5T,-1.0,-1,-1.0,-1.0,-1.0,...,-1.0,8,-1,-1.0,-1.0,-1,-1.0,-1.0,4.0,-1.0
9,6,-1,-1.0,-1.0,-1.0,4,3T,4.0,-1,-1.0,...,8T,-1.0,5.0,-1.0,11.0,-1.0,-1,10,-1,-1.0

In [34]:
top = top_30

rank_data_30 = pd.DataFrame()

for year in range(1994,2024):
    print("Selected Features Top ",30," Test year : ", year)
    Test_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] == year]
    Train_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] < year]
    
    X_train, y_train = Data_Organizer(Train_Data,top)
    X_test , y_test = Data_Organizer(Test_Data,top)
    
    # Initialize and train a XGBoost Regressor model
    xgb_model = XGBRegressor(n_estimators=200,max_depth = 5, random_state=42, n_jobs=-1)
    xgb_model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred_xgb = xgb_model.predict(X_test)
    
    # Evaluate the model
    mse_xgb = mean_squared_error(y_test, y_pred_xgb)
    r2_xgb = r2_score(y_test, y_pred_xgb)
    
    # Mean Squared Error (MAE)
    print(f'Mean Squared Error (XGBoost): {mse_xgb}')
    print(f'R-squared (XGBoost): {r2_xgb}')
    
    Test_Data_copy = Test_Data.copy()
    Test_Data_copy.loc[:, 'Predicted_points'] = y_pred_xgb
    
    # Select only the desired columns
    Test_Data_concatenated = Test_Data_copy[['Player_name','Rank','Pos','Points_won', 'Predicted_points']]
    
    # Display the concatenated DataFrame sorted by 'Points_won'
    display(Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10))

    Test_Data_concatenated = Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10)

    if rank_data_30.empty:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_30 = pd.DataFrame(new_rank_column)
    else:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_30 = pd.concat([rank_data_30.reset_index(drop=True), new_rank_column.reset_index(drop=True)], axis=1)

    print("---------------------------------------------------------------------")

display(rank_data_30)

Selected Features Top  30  Test year :  1994
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.10241735986403
R-squared (XGBoost): -0.9228205306914945

           Player_name Rank Pos  Points_won  Predicted_points
15651  Hakeem Olajuwon    1   C        23.0         72.998627
15477   Scottie Pippen    4  SF        11.0          8.999494
15583  Mookie Blaylock   7T  PG         3.0          7.869447
15539   David Robinson    2   C        22.0          7.869447
15784      Gary Payton    5  PG         9.0          2.130140
15677    Nate McMillan   7T  PG         3.0          2.130140
15540     Horace Grant   10  PF         1.0          2.130140
15649   Charles Oakley    9  PF         2.0          1.000093
15739    Patrick Ewing   -1   C         0.0          1.000093
15525    Dennis Rodman    6  PF         8.0          1.000093

---------------------------------------------------------------------
Selected Features Top  30  Test year :  1995
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 3.171308556836127
R-squared (XGBoost): 0.495940486666008

           Player_name Rank Pos  Points_won  Predicted_points
15026  Dikembe Mutombo    1   C        45.0         72.990662
14994  Hakeem Olajuwon    3   C        13.0         22.999355
15113   David Robinson    4   C        12.0         22.002148
15199   Scottie Pippen    2  SF        16.0         14.920372
15404  Alonzo Mourning   6T   C         2.0         12.607483
15151      Gary Payton   6T  PG         2.0         12.116823
15077  Mookie Blaylock   -1  PG         0.0          7.242426
15358      Dan Majerle   -1  SF         0.0          5.050086
15121    Dennis Rodman    5  PF        11.0          4.793456
15249    Nate McMillan   6T  PG         2.0          4.432107

---------------------------------------------------------------------
Selected Features Top  30  Test year :  1996
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 3.541362838243166
R-squared (XGBoost): 0.527996861218724

           Player_name Rank Pos  Points_won  Predicted_points
14887  Dikembe Mutombo    3   C        11.0         45.001629
14844      Gary Payton    1  PG        56.0         37.898922
14897   David Robinson    4   C         9.0         15.154544
14797  Hakeem Olajuwon    5   C         8.0         12.996272
14909    Dennis Rodman    7  PF         4.0          8.496882
14619   Michael Jordan    6  SG         7.0          5.570953
14749   Scottie Pippen    2  SF        15.0          4.130350
14838   Charles Oakley   -1  PF         0.0          3.451148
14900  Alonzo Mourning   -1   C         0.0          3.222455
14821    Nate McMillan   -1  PG         0.0          2.958763

---------------------------------------------------------------------
Selected Features Top  30  Test year :  1997
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.886630594797422
R-squared (XGBoost): 0.1148775371117805

           Player_name Rank Pos  Points_won  Predicted_points
14149      Gary Payton    2  PG        25.0         72.664856
14489  Dikembe Mutombo    1   C        60.0         25.859610
14210  Hakeem Olajuwon   -1   C         0.0         15.979977
14164   Scottie Pippen    4  SF         4.0         10.171598
14081   Michael Jordan    5  SG         3.0          8.775827
14279     Horace Grant   6T  PF         1.0          8.322768
14333  Mookie Blaylock    3  PG        18.0          5.450819
14189   Charles Oakley   -1  PF         0.0          4.103646
14269    Dennis Rodman   -1  PF         0.0          3.954348
14277   David Robinson   -1   C         0.0          3.140628

---------------------------------------------------------------------
Selected Features Top  30  Test year :  1998
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 1.5771702299616739
R-squared (XGBoost): 0.7466072778511961

           Player_name Rank Pos  Points_won  Predicted_points
13764      Gary Payton    2  PG        37.0         19.361885
13894  Dikembe Mutombo    1   C        39.0         18.790354
13889       Tim Duncan   5T  PF         4.0          6.917814
13605   David Robinson    3   C        10.0          5.853293
13815  Mookie Blaylock   5T  PG         4.0          4.552348
13744        Bo Outlaw   5T  PF         4.0          4.126645
13836   Michael Jordan    4  SG         6.0          3.354608
13613     Horace Grant  11T   C         1.0          3.175637
13601    Kevin Garnett  11T  PF         1.0          1.915900
13842   Scottie Pippen   9T  SF         2.0          1.274328

---------------------------------------------------------------------
Selected Features Top  30  Test year :  1999
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 5.577603782086352
R-squared (XGBoost): 0.671625472725582

           Player_name Rank Pos  Points_won  Predicted_points
13269  Alonzo Mourning    1   C        89.0         43.142685
13424      Gary Payton    3  PG         6.0         25.776348
13488       Tim Duncan   5T  PF         2.0          8.726612
13182  Dikembe Mutombo    2   C        10.0          8.256486
13434   David Robinson    4   C         3.0          7.251992
13445    Kevin Garnett   7T  PF         1.0          6.076100
13397   Scottie Pippen   7T  SF         1.0          3.894649
13039  Hakeem Olajuwon   7T   C         1.0          3.602766
13121        Bo Outlaw   -1  PF         0.0          3.095282
13237      Eddie Jones   7T  SF         1.0          2.519768

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2000
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 2.9087404036574216
R-squared (XGBoost): 0.7000053407218686

            Player_name Rank Pos  Points_won  Predicted_points
12956   Alonzo Mourning    1   C        62.0         34.981907
12708       Gary Payton   5T  PG         4.0         14.744241
12837     Anthony Mason   8T  SF         1.0          7.303766
12725  Shaquille O'Neal    2   C        21.0          7.092401
12733         Bo Outlaw   8T  PF         1.0          7.022141
12742    Charles Oakley   -1  PF         0.0          6.911729
12741       Eddie Jones   3T  SG        11.0          6.837193
12830        Tim Duncan   -1  PF         0.0          5.251851
12994   Mookie Blaylock   -1  PG         0.0          5.077266
12841     Kevin Garnett    7  PF         2.0          4.821360

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2001
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.05271281874951
R-squared (XGBoost): 0.20864005477963632

           Player_name Rank Pos  Points_won  Predicted_points
12210  Alonzo Mourning   -1   C         0.0         24.534952
12271       Tim Duncan    3  PF        14.0          9.242893
12512  Dikembe Mutombo    1   C        48.0          7.658097
12510  Dikembe Mutombo    1   C        48.0          7.283635
12427      Gary Payton   -1  PG         0.0          7.245743
12460    Kevin Garnett    2  PF        26.0          6.690128
12106   David Robinson   5T   C         6.0          6.110825
12285    Doug Christie  4.0  SG         9.0          4.513288
12274     Shawn Marion  11T  SF         1.0          3.497207
12103  Mookie Blaylock   -1  PG         0.0          3.382470

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2002
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 13.839438299619884
R-squared (XGBoost): 0.5157202862170729

           Player_name  Rank Pos  Points_won  Predicted_points
11941      Ben Wallace     1   C       116.0         47.247520
12003  Dikembe Mutombo    3T   C         1.0         30.490612
12035  Alonzo Mourning    -1   C         0.0         18.778288
11852       Tim Duncan    -1  PF         0.0         17.165129
12005      Kobe Bryant    3T  SG         1.0         12.420265
11637      Paul Pierce  -1.0  SG         0.0          5.555375
11892  Hakeem Olajuwon    -1   C         0.0          5.043937
11741       Jason Kidd    -1  PG         0.0          4.683587
12041      Eddie Jones    -1  SG         0.0          4.019780
11936    Kevin Garnett     2  PF         2.0          3.472691

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2003
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 620.960174810943
R-squared (XGBoost): 0.13196951966383685

         Player_name  Rank Pos  Points_won  Predicted_points
11137    Ben Wallace     1   C       531.0         39.015156
11463    Kobe Bryant     8  SG        16.0         11.771861
11347  Doug Christie   5.0  SG        85.0          9.721373
11405     Tim Duncan     4  PF        90.0          9.351758
11559     Jason Kidd    -1  PG         0.0          8.467745
11505  Dirk Nowitzki  -1.0  PF         0.0          8.426597
11177    Gary Payton    11  PG         5.0          7.618519
11412   Shawn Marion   13T  SF         3.0          6.543045
11183  Kevin Garnett     3  PF       121.0          5.950236
11219   Chris Webber  -1.0  PF         0.0          5.050599

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2004
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 969.5526693828268
R-squared (XGBoost): -0.4026310642515407

             Player_name  Rank Pos  Points_won  Predicted_points
11127      Kevin Garnett     6  PF        36.0        529.174500
10663        Ben Wallace     2   C       325.0        528.524719
10818         Tim Duncan     7  PF         8.0         39.763271
10722  Metta World Peace     1  SF       476.0         34.868858
10871   Andrei Kirilenko     5  PF        67.0         14.012583
10650       Theo Ratliff     3   C        90.0         11.965128
10664       Theo Ratliff     3   C        90.0         11.353939
10721        Gary Payton    -1  PG         0.0          8.846502
10625   Donyell Marshall  -1.0  PF         0.0          8.806497
10764   Shaquille O'Neal   10T   C         1.0          3.379775

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2005
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 369.3813625969777
R-squared (XGBoost): 0.113890462861163

             Player_name Rank Pos  Points_won  Predicted_points
10337      Allen Iverson   11  PG        10.0         37.123688
10261  Metta World Peace   -1  SF         0.0         29.325197
10455        Ben Wallace    1   C       339.0         25.626755
10338       Shawn Marion    5  PF        57.0         19.557699
10326         Tim Duncan    4  PF        81.0         19.071791
10592   Andrei Kirilenko   10  PF        25.0         18.527609
10398       Marcus Camby    3   C       168.0         10.567104
10202        Eddie Jones   -1  SF         0.0          8.922991
10343      Kevin Garnett    9  PF        30.0          8.406798
10151      Manu Ginóbili  18T  SG         2.0          7.059146

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2006
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 480.9103803848078
R-squared (XGBoost): 0.17680099185516762

             Player_name Rank Pos  Points_won  Predicted_points
9730   Metta World Peace    4  SF        65.0        292.299133
9731   Metta World Peace    4  SF        65.0        290.909821
9610         Bruce Bowen    2  SF       308.0        140.529541
9704        Marcus Camby    5   C        55.0        101.899117
9841         Ben Wallace    1   C       420.0         90.717484
9691    Andrei Kirilenko    3  SF       121.0         75.116425
9863        Shawn Marion    7  PF        33.0         34.305420
9880         Eddie Jones  13T  SG         1.0         30.379692
9745     Alonzo Mourning    8   C        29.0         27.982937
10044         Tim Duncan    6  PF        42.0         27.379087

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2007
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 467.0832574125116
R-squared (XGBoost): 0.15797899733431464

            Player_name  Rank Pos  Points_won  Predicted_points
9339        Bruce Bowen     2  SF       206.0        193.186096
9414        Ben Wallace     6   C        42.0        186.777390
9344    Dikembe Mutombo    -1   C         0.0        101.370483
9210        Eddie Jones    -1  SG         0.0         90.222282
9185        Josh Howard   18T  SF         5.0         87.199730
9418       Shawn Marion     4  SF        93.0         48.094070
9355      Shane Battier     5  SF        86.0         42.597225
9488      Renaldo Major  -1.0  PF         0.0         37.826584
9566  Metta World Peace     8  SF        20.0         35.142784
9438         Tim Duncan     3   C       158.0         35.084347

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2008
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 399.3230184242523
R-squared (XGBoost): 0.330158520663144

            Player_name Rank Pos  Points_won  Predicted_points
8731      Kevin Garnett    1  PF       493.0         70.210335
8762       Marcus Camby    2   C       178.0         68.624512
8722      Shane Battier    3  SF       175.0         58.136349
8659  Metta World Peace  16T  SF         1.0         31.205212
8784        Bruce Bowen    4  SF        80.0         30.381634
8949    Rasheed Wallace   12   C         9.0         25.824902
8630         Josh Smith    6  PF        34.0         23.651218
8568       Shawn Marion   -1  PF         0.0         16.226673
8738        James Posey   -1  PF         0.0         15.208001
8891    Tayshaun Prince   10  SF        13.0         13.205124

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2009
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 186.0182046479316
R-squared (XGBoost): 0.7140018928636718

            Player_name Rank Pos  Points_won  Predicted_points
8212      Dwight Howard    1   C       542.0        289.639313
8365      Kevin Garnett    8  PF        31.0         78.236748
8426        Kobe Bryant    7  SG        43.0         29.490103
8484       LeBron James    2  SF       148.0         24.205362
8098        Bruce Bowen   -1  SF         0.0         21.803793
8558         Jason Kidd   -1  PG         0.0         21.692158
8556         Chris Paul    6  PG        49.0         18.870819
8442  Metta World Peace    5  SF        54.0         18.476091
8370      Shane Battier    4  SG        71.0         10.431486
8483        Ben Wallace   -1  PF         0.0          9.946937

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2010
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 58.53938576287568
R-squared (XGBoost): 0.919041600924884

            Player_name  Rank Pos  Points_won  Predicted_points
8018      Dwight Howard     1   C       576.0        535.720154
8041       LeBron James     4  SF        61.0         44.131737
7553         Josh Smith     2  PF       136.0         37.022320
7905          Raja Bell    -1  SG         0.0         31.448816
7958    Stephen Jackson  -1.0  SG         0.0         15.498219
7544        Dwyane Wade   10T  SG        13.0         14.039082
7564        Kobe Bryant    12  SG         9.0         13.253304
7683         Tim Duncan    14   C         7.0          9.196223
8050  Metta World Peace     6  SF        29.0          8.370160
7713         Jason Kidd    -1  PG         0.0          7.196496

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2011
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 426.2983729994722
R-squared (XGBoost): 0.3597101272769333

        Player_name  Rank Pos  Points_won  Predicted_points
7366  Dwight Howard     1   C       585.0        114.426659
7121  Kevin Garnett     2  PF        77.0         72.553612
7400      Luol Deng  10.0  SF        24.0         41.633560
7523   Andrew Bogut   6.0   C        32.0         34.379898
7091    Paul Pierce  -1.0  SF         0.0         32.493961
7186   LeBron James     9  SF        25.0         30.653427
7321    Rajon Rondo     5  PG        45.0         30.199005
7288    Dwyane Wade    16  SG         8.0         29.461535
7508     Josh Smith    25  PF         1.0         29.180229
7231     Chris Paul   12T  PG        13.0         27.424107

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2012
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 379.3642796568928
R-squared (XGBoost): 0.16171808386261255

         Player_name Rank Pos  Points_won  Predicted_points
6572    LeBron James    4  SF       112.0         61.046139
6987   Kevin Garnett    5   C        44.0         50.603626
6492   Shane Battier   -1  SF         0.0         39.788879
6620   Kenyon Martin   -1  PF         0.0         21.457140
6510   Dwight Howard    3   C       186.0         21.226149
6703  Tyson Chandler    1   C       311.0         20.252815
6546       Raja Bell   -1  SG         0.0         20.102808
6487     Elton Brand   -1   C         0.0         19.930391
6523  Andre Iguodala    7  SF        33.0         19.151697
6779     Dwyane Wade  18T  SG         1.0         18.740305

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2013
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 94.89553965162509
R-squared (XGBoost): 0.6055492806027137

          Player_name  Rank Pos  Points_won  Predicted_points
6217       Marc Gasol     1   C       212.0        185.761673
6005      Serge Ibaka   3.0  PF       122.0        147.100235
5996    Dwight Howard    14   C         9.0        129.748001
6084     LeBron James     2  PF       149.0         67.420174
6419       Tim Duncan     6   C        94.0         51.664253
6242      Paul George   8.0  SF        57.0         42.056519
6330      Joakim Noah   4.0   C       107.0         39.466927
6355   Tyson Chandler    13   C        11.0         29.877205
6119      Dwyane Wade    16  SG         4.0         25.180201
6376  Hasheem Thabeet  -1.0   C         0.0         24.335770

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2014
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 82.5783874734905
R-squared (XGBoost): 0.8742265838527785

         Player_name Rank Pos  Points_won  Predicted_points
5847     Joakim Noah  1.0   C       555.0        479.330994
5716      Marc Gasol  15T   C         4.0        112.906227
5804     Serge Ibaka  4.0  PF        79.0        109.363861
5952     Paul George  7.0  SF        30.0         92.347939
5898  DeAndre Jordan  3.0   C       121.0         55.441475
5461   Kawhi Leonard   11  SF         9.0         52.474903
5948     Roy Hibbert  2.0   C       166.0         47.590694
5754   Dwight Howard   8T   C        25.0         45.901859
5624   Anthony Davis   8T  PF        25.0         40.370068
5805  Andre Iguodala    5  SF        47.0         39.036587

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2015
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 199.0538320884317
R-squared (XGBoost): 0.6078352207555129

         Player_name Rank Pos  Points_won  Predicted_points
5314   Kawhi Leonard    1  SF       333.0        288.691132
5011  DeAndre Jordan  3.0   C       261.0        118.219727
4908   Kevin Garnett   -1  PF         0.0         99.141792
5393   Anthony Davis    4  PF       107.0         92.269096
5107  Draymond Green    2  PF       317.0         36.532227
4890      Marc Gasol  10T   C         7.0         31.887096
5216      Tony Allen  7.0  SG        29.0         26.744442
5349      Chris Paul  15T  PG         1.0         24.760736
5227  Andre Iguodala   -1  SF         0.0         24.736069
4915      Tim Duncan    8   C        12.0         23.550049

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2016
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 296.8863539739587
R-squared (XGBoost): 0.6762011716345135

           Player_name  Rank Pos  Points_won  Predicted_points
4426     Kawhi Leonard     1  SF       547.0        303.664154
4570  Hassan Whiteside     3   C        83.0        152.774292
4597    Draymond Green     2  PF       421.0        145.020920
4474    DeAndre Jordan   4.0   C        50.0        130.725815
4571      Paul Millsap   5.0  PF        21.0         84.116943
4820    Andre Drummond    10   C         3.0         49.126041
4580       Danny Green  -1.0  SG         0.0         37.109688
4773      Andrew Bogut  -1.0   C         0.0         27.309479
4524      LeBron James   11T  SF         2.0         22.040655
4464    Andre Iguodala    -1  SF         0.0         19.280418

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2017
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 106.88015576365255
R-squared (XGBoost): 0.8018785174032704

                Player_name  Rank Pos  Points_won  Predicted_points
3989         Draymond Green     1  PF       434.0        482.725433
4268          Kawhi Leonard     3  SF       182.0        268.283539
3977            Rudy Gobert   2.0   C       269.0         64.879005
3870       Hassan Whiteside    5T   C         3.0         34.483315
4131            Edy Tavares  -1.0   C         0.0         32.894432
4129          Anthony Davis    -1   C         0.0         30.058641
4143       Robert Covington   4.0  SF         4.0         23.219881
4051           Trevor Ariza    -1  SF         0.0         22.719624
4212  Giannis Antetokounmpo  -1.0  SF         0.0         22.670609
4055        Otto Porter Jr.  -1.0  SF         0.0         20.165762

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2018
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 272.30054664605444
R-squared (XGBoost): 0.3787857231239332

           Player_name  Rank Pos  Points_won  Predicted_points
3403       Rudy Gobert   1.0   C       466.0        118.856544
3270    Draymond Green     6  PF        20.0         34.026962
3469     Kawhi Leonard    -1  SF         0.0         31.533981
3655  Robert Covington   8.0  SF         8.0         29.879883
3177     Anthony Davis     3  PF       139.0         26.860418
3180      LeBron James    -1  PF         0.0         12.975821
3635    Andre Roberson    -1  SG         0.0          9.814868
3765      Nerlens Noel    -1   C         0.0          9.285649
3337      Andre Ingram  -1.0  SG         0.0          8.171163
3598    Victor Oladipo   15T  SG         1.0          7.949765

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2019
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 91.67704592686631
R-squared (XGBoost): 0.7884190730146424

                Player_name  Rank Pos  Points_won  Predicted_points
3114  Giannis Antetokounmpo   2.0  PF       280.0        316.438721
2825            Rudy Gobert   1.0   C       411.0        264.480957
2702          Kawhi Leonard    6T  SF         6.0        122.360680
2738            Brook Lopez  -1.0   C         0.0         77.742958
2932            Paul George   3.0  SF       150.0         77.283562
2562           Myles Turner   5.0   C        15.0         73.201790
2876         Draymond Green    6T  PF         6.0         46.246258
2963            Joel Embiid     4   C        26.0         41.348637
2744            P.J. Tucker  -1.0  PF         0.0         28.714746
2671          Anthony Davis    -1   C         0.0         25.779367

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2020
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 123.04604432009934
R-squared (XGBoost): 0.7221441136925442

                Player_name  Rank Pos  Points_won  Predicted_points
2127  Giannis Antetokounmpo   1.0  PF       432.0        338.538422
2524            Rudy Gobert   3.0   C       187.0        132.822708
2270          Anthony Davis     2  PF       200.0        117.288841
2094            Brook Lopez  10.0   C         4.0        114.076141
2069            John Henson  -1.0   C         0.0        100.715164
2037              Kris Dunn  -1.0  PG         0.0         96.418045
2017       Hassan Whiteside    11   C         3.0         93.652359
2466         Jonathan Isaac  -1.0  PF         0.0         89.965622
2324             Marc Gasol    -1   C         0.0         41.935097
2465         Draymond Green    -1  PF         0.0         41.298325

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2021
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 155.36750548968246
R-squared (XGBoost): 0.679487906131663

                Player_name  Rank Pos  Points_won  Predicted_points
1379            Rudy Gobert   1.0   C       464.0        381.531525
1719           Myles Turner   9.0   C         3.0         55.446381
1558       DeMarcus Cousins  -1.0   C         0.0         54.224178
1402             Marc Gasol    -1   C         0.0         51.969852
1895  Giannis Antetokounmpo   5.0  PF        12.0         32.457787
1586          Kawhi Leonard    -1  SF         0.0         23.221231
1741       Matisse Thybulle   11T  SG         1.0         14.566699
1517           LeBron James    -1  PG         0.0         14.066346
1785            Ben Simmons   2.0  PG       287.0         13.691513
1484           Nikola Jokić  -1.0   C         0.0         11.902628

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2022
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 174.61242597984779
R-squared (XGBoost): 0.18866267147871718

                Player_name  Rank Pos  Points_won  Predicted_points
1022            Rudy Gobert   3.0   C       136.0        184.758713
1111  Giannis Antetokounmpo   6.0  PF        58.0        116.179085
992             Paul George  -1.0  PF         0.0         52.406456
1123         Draymond Green    10  PF         2.0         45.178772
997       Jaren Jackson Jr.   5.0  PF        99.0         30.417896
1046        Sekou Doumbouya  -1.0  PF         0.0         24.754395
933              Al Horford     9   C         3.0         24.074516
813             Ricky Rubio  -1.0  PG         0.0         19.936605
713            Marcus Smart     1  PG       257.0         17.873274
1007            Joel Embiid    -1   C         0.0         16.779726

---------------------------------------------------------------------
Selected Features Top  30  Test year :  2023
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 383.0918843309493
R-squared (XGBoost): 0.09970285595754769

               Player_name  Rank Pos  Points_won  Predicted_points
176  Giannis Antetokounmpo   6.0  PF        14.0        115.114929
137            Evan Mobley   3.0  PF       101.0         58.340946
497            Joel Embiid    9T   C         7.0         46.668465
408          Jarrett Allen    -1   C         0.0         45.239479
59       Jaren Jackson Jr.   1.0   C       391.0         42.116253
206            Nic Claxton    9T   C         7.0         30.482992
392          Jacob Gilyard  -1.0  PG         0.0         26.356594
524            Bam Adebayo   5.0   C        18.0         19.468533
75            Myles Turner  -1.0   C         0.0         17.361799
208         Walker Kessler  -1.0   C         0.0         15.592331

---------------------------------------------------------------------

,Rank_1994,Rank_1995,Rank_1996,Rank_1997,Rank_1998,Rank_1999,Rank_2000,Rank_2001,Rank_2002,Rank_2003,...,Rank_2014,Rank_2015,Rank_2016,Rank_2017,Rank_2018,Rank_2019,Rank_2020,Rank_2021,Rank_2022,Rank_2023
0,1,1,3,2,2,1,1,-1,1,1,...,1.0,1,1,1,1.0,2.0,1.0,1.0,3.0,6.0
1,4,3,1,1,1,3,5T,3,3T,8,...,15T,3.0,3,3,6,1.0,3.0,9.0,6.0,3.0
2,7T,4,4,-1,5T,5T,8T,1,-1,5.0,...,4.0,-1,2,2.0,-1,6T,2,-1.0,-1.0,9T
3,2,2,5,4,3,2,2,1,-1,4,...,7.0,4,4.0,5T,8.0,-1.0,10.0,-1,10,-1
4,5,6T,7,5,5T,4,8T,-1,3T,-1,...,3.0,2,5.0,-1.0,3,3.0,-1.0,5.0,5.0,1.0
5,7T,6T,6,6T,5T,7T,-1,2,-1.0,-1.0,...,11,10T,10,-1,-1,5.0,-1.0,-1,-1.0,9T
6,10,-1,2,3,4,7T,3T,5T,-1,11,...,2.0,7.0,-1.0,4.0,-1,6T,11,11T,9,-1.0
7,9,-1,-1,-1,11T,7T,-1,4.0,-1,13T,...,8T,15T,-1.0,-1,-1,4,-1.0,-1,-1.0,5.0
8,-1,5,-1,-1,11T,-1,-1,11T,-1,3,...,8T,-1,11T,-1.0,-1.0,-1.0,-1,2.0,1,-1.0
9,6,6T,-1,-1,9T,7T,7,-1,2,-1.0,...,5,8,-1,-1.0,15T,-1,-1,-1.0,-1,-1.0

In [35]:
top = top_40

rank_data_40 = pd.DataFrame()

for year in range(1994,2024):
    print("Selected Features Top ",40," Test year : ", year)
    Test_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] == year]
    Train_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] < year]
    
    X_train, y_train = Data_Organizer(Train_Data,top)
    X_test , y_test = Data_Organizer(Test_Data,top)
    
    # Initialize and train a XGBoost Regressor model
    xgb_model = XGBRegressor(n_estimators=200,max_depth = 5, random_state=42, n_jobs=-1)
    xgb_model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred_xgb = xgb_model.predict(X_test)
    
    # Evaluate the model
    mse_xgb = mean_squared_error(y_test, y_pred_xgb)
    r2_xgb = r2_score(y_test, y_pred_xgb)
    
    # Mean Squared Error (MAE)
    print(f'Mean Squared Error (XGBoost): {mse_xgb}')
    print(f'R-squared (XGBoost): {r2_xgb}')
    
    Test_Data_copy = Test_Data.copy()
    Test_Data_copy.loc[:, 'Predicted_points'] = y_pred_xgb
    
    # Select only the desired columns
    Test_Data_concatenated = Test_Data_copy[['Player_name','Rank','Pos','Points_won', 'Predicted_points']]
    
    # Display the concatenated DataFrame sorted by 'Points_won'
    display(Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10))

    Test_Data_concatenated = Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10)

    if rank_data_40.empty:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_40 = pd.DataFrame(new_rank_column)
    else:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_40 = pd.concat([rank_data_40.reset_index(drop=True), new_rank_column.reset_index(drop=True)], axis=1)

    print("---------------------------------------------------------------------")

display(rank_data_40)

Selected Features Top  40  Test year :  1994
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.10241735986403
R-squared (XGBoost): -0.9228205306914945

           Player_name Rank Pos  Points_won  Predicted_points
15651  Hakeem Olajuwon    1   C        23.0         72.998627
15477   Scottie Pippen    4  SF        11.0          8.999494
15583  Mookie Blaylock   7T  PG         3.0          7.869447
15539   David Robinson    2   C        22.0          7.869447
15784      Gary Payton    5  PG         9.0          2.130140
15677    Nate McMillan   7T  PG         3.0          2.130140
15540     Horace Grant   10  PF         1.0          2.130140
15649   Charles Oakley    9  PF         2.0          1.000093
15739    Patrick Ewing   -1   C         0.0          1.000093
15525    Dennis Rodman    6  PF         8.0          1.000093

---------------------------------------------------------------------
Selected Features Top  40  Test year :  1995
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 2.8770197103769193
R-squared (XGBoost): 0.5427158445560776

           Player_name Rank Pos  Points_won  Predicted_points
15113   David Robinson    4   C        12.0         21.554382
15026  Dikembe Mutombo    1   C        45.0         17.928368
14994  Hakeem Olajuwon    3   C        13.0         17.242222
15199   Scottie Pippen    2  SF        16.0         15.063243
15151      Gary Payton   6T  PG         2.0         13.451194
15404  Alonzo Mourning   6T   C         2.0          9.098365
15077  Mookie Blaylock   -1  PG         0.0          7.746881
15249    Nate McMillan   6T  PG         2.0          7.128888
15121    Dennis Rodman    5  PF        11.0          6.092377
15258    Derrick McKey   6T  SF         2.0          5.814053

---------------------------------------------------------------------
Selected Features Top  40  Test year :  1996
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.810075351174179
R-squared (XGBoost): -0.3075153744291641

           Player_name  Rank Pos  Points_won  Predicted_points
14887  Dikembe Mutombo     3   C        11.0         47.036140
14897   David Robinson     4   C         9.0         17.760548
14839    Shawn Bradley  -1.0   C         0.0         15.341349
14749   Scottie Pippen     2  SF        15.0         13.433790
14797  Hakeem Olajuwon     5   C         8.0         13.426005
14619   Michael Jordan     6  SG         7.0         12.032990
14909    Dennis Rodman     7  PF         4.0         10.625167
14838   Charles Oakley    -1  PF         0.0          9.196361
14555     Horace Grant    8T  PF         1.0          8.473764
14802        Bo Outlaw    8T  PF         1.0          3.812690

---------------------------------------------------------------------
Selected Features Top  40  Test year :  1997
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.369699475725621
R-squared (XGBoost): 0.1728931040584848

           Player_name  Rank Pos  Points_won  Predicted_points
14149      Gary Payton     2  PG        25.0         53.440399
14210  Hakeem Olajuwon    -1   C         0.0         32.042934
14489  Dikembe Mutombo     1   C        60.0         20.455223
14164   Scottie Pippen     4  SF         4.0          7.707569
14277   David Robinson    -1   C         0.0          6.489612
14081   Michael Jordan     5  SG         3.0          6.446968
14333  Mookie Blaylock     3  PG        18.0          6.245148
14279     Horace Grant    6T  PF         1.0          6.135149
14141    Shawn Bradley  -1.0   C         0.0          5.643559
14038      Eddie Jones  -1.0  SG         0.0          5.534705

---------------------------------------------------------------------
Selected Features Top  40  Test year :  1998
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 0.8611952737704341
R-squared (XGBoost): 0.8616378812021593

           Player_name Rank Pos  Points_won  Predicted_points
13764      Gary Payton    2  PG        37.0         25.289093
13894  Dikembe Mutombo    1   C        39.0         23.371742
13605   David Robinson    3   C        10.0         10.232861
13815  Mookie Blaylock   5T  PG         4.0          6.904817
13889       Tim Duncan   5T  PF         4.0          5.408799
13744        Bo Outlaw   5T  PF         4.0          4.763745
13842   Scottie Pippen   9T  SF         2.0          3.993211
13637    Dennis Rodman   5T  PF         4.0          3.391795
13613     Horace Grant  11T   C         1.0          3.207984
13836   Michael Jordan    4  SG         6.0          3.106635

---------------------------------------------------------------------
Selected Features Top  40  Test year :  1999
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 15.699112361335764
R-squared (XGBoost): 0.07573416798830779

           Player_name Rank Pos  Points_won  Predicted_points
13488       Tim Duncan   5T  PF         2.0          3.992432
13434   David Robinson    4   C         3.0          3.852112
13269  Alonzo Mourning    1   C        89.0          3.316166
13380  Mookie Blaylock   -1  PG         0.0          3.210167
13424      Gary Payton    3  PG         6.0          2.937348
13182  Dikembe Mutombo    2   C        10.0          2.547199
13087     Horace Grant   -1  PF         0.0          2.407559
13450     Theo Ratliff   5T  PF         2.0          2.113471
13121        Bo Outlaw   -1  PF         0.0          2.067201
13237      Eddie Jones   7T  SF         1.0          1.732316

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2000
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 1.784980021093779
R-squared (XGBoost): 0.8159050314105077

            Player_name Rank Pos  Points_won  Predicted_points
12956   Alonzo Mourning    1   C        62.0         56.226665
12708       Gary Payton   5T  PG         4.0         25.230900
12909   Dikembe Mutombo   3T   C        11.0         14.720992
12741       Eddie Jones   3T  SG        11.0          9.657193
12725  Shaquille O'Neal    2   C        21.0          8.391581
12830        Tim Duncan   -1  PF         0.0          7.499733
12837     Anthony Mason   8T  SF         1.0          5.705022
12733         Bo Outlaw   8T  PF         1.0          5.503268
12742    Charles Oakley   -1  PF         0.0          4.455647
12994   Mookie Blaylock   -1  PG         0.0          3.609971

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2001
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.73733090939206
R-squared (XGBoost): 0.14879287465196744

           Player_name Rank Pos  Points_won  Predicted_points
12210  Alonzo Mourning   -1   C         0.0         20.132952
12512  Dikembe Mutombo    1   C        48.0          6.875796
12106   David Robinson   5T   C         6.0          5.997698
12427      Gary Payton   -1  PG         0.0          5.813431
12271       Tim Duncan    3  PF        14.0          5.597658
12460    Kevin Garnett    2  PF        26.0          4.829064
12383        Bo Outlaw   -1  PF         0.0          3.687970
12354    Anthony Mason   8T  PF         2.0          3.533711
12156       Jason Kidd  11T  PG         1.0          3.494548
12510  Dikembe Mutombo    1   C        48.0          3.356749

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2002
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 22.235942062907487
R-squared (XGBoost): 0.22190370557059713

           Player_name Rank Pos  Points_won  Predicted_points
12035  Alonzo Mourning   -1   C         0.0         28.856045
11941      Ben Wallace    1   C       116.0         22.138765
12003  Dikembe Mutombo   3T   C         1.0         17.602446
11852       Tim Duncan   -1  PF         0.0         12.315001
12005      Kobe Bryant   3T  SG         1.0         11.930696
11950      Gary Payton   -1  PG         0.0         10.254433
11892  Hakeem Olajuwon   -1   C         0.0          7.173043
11741       Jason Kidd   -1  PG         0.0          5.963247
11936    Kevin Garnett    2  PF         2.0          5.592620
11862   David Robinson   -1   C         0.0          4.277909

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2003
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 664.7380594051386
R-squared (XGBoost): 0.07077310202888909

            Player_name  Rank Pos  Points_won  Predicted_points
11137       Ben Wallace     1   C       531.0         19.109152
11405        Tim Duncan     4  PF        90.0         17.706377
11461   Dikembe Mutombo    -1   C         0.0         17.217806
11559        Jason Kidd    -1  PG         0.0          8.315480
11463       Kobe Bryant     8  SG        16.0          7.522506
11411     Allen Iverson     6  SG        29.0          7.355562
11505     Dirk Nowitzki  -1.0  PF         0.0          7.283106
11347     Doug Christie   5.0  SG        85.0          7.122693
11494  Shaquille O'Neal   13T   C         3.0          4.848295
11412      Shawn Marion   13T  SF         3.0          4.544545

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2004
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 973.3073954854964
R-squared (XGBoost): -0.4080629460210097

             Player_name  Rank Pos  Points_won  Predicted_points
10663        Ben Wallace     2   C       325.0        525.191040
11127      Kevin Garnett     6  PF        36.0        524.078491
10818         Tim Duncan     7  PF         8.0         41.122349
10722  Metta World Peace     1  SF       476.0         24.094631
10650       Theo Ratliff     3   C        90.0         18.033978
10664       Theo Ratliff     3   C        90.0         17.629702
10871   Andrei Kirilenko     5  PF        67.0         11.015820
10721        Gary Payton    -1  PG         0.0         10.562083
10625   Donyell Marshall  -1.0  PF         0.0          9.165846
11037     Anthony Carter  -1.0  PG         0.0          6.798008

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2005
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 383.6156219489687
R-squared (XGBoost): 0.07974387550432138

             Player_name Rank Pos  Points_won  Predicted_points
10592   Andrei Kirilenko   10  PF        25.0         21.362278
10326         Tim Duncan    4  PF        81.0         20.490400
10261  Metta World Peace   -1  SF         0.0         18.562737
10455        Ben Wallace    1   C       339.0         16.334925
10338       Shawn Marion    5  PF        57.0         12.183359
10202        Eddie Jones   -1  SF         0.0          8.772942
10337      Allen Iverson   11  PG        10.0          8.009930
10240    Alonzo Mourning   -1   C         0.0          7.748346
10398       Marcus Camby    3   C       168.0          7.247548
10151      Manu Ginóbili  18T  SG         2.0          6.083654

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2006
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 499.73231924467484
R-squared (XGBoost): 0.14458251200366734

             Player_name Rank Pos  Points_won  Predicted_points
9731   Metta World Peace    4  SF        65.0        281.088959
9730   Metta World Peace    4  SF        65.0        272.382050
9691    Andrei Kirilenko    3  SF       121.0        178.584198
9704        Marcus Camby    5   C        55.0        126.053619
9610         Bruce Bowen    2  SF       308.0        103.204910
9841         Ben Wallace    1   C       420.0         84.593140
9863        Shawn Marion    7  PF        33.0         42.606819
10044         Tim Duncan    6  PF        42.0         41.227131
9726     Rasheed Wallace  13T  PF         1.0         17.825958
9745     Alonzo Mourning    8   C        29.0         16.775656

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2007
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 504.4103433930742
R-squared (XGBoost): 0.09068865912340451

            Player_name  Rank Pos  Points_won  Predicted_points
9414        Ben Wallace     6   C        42.0        262.431854
9488      Renaldo Major  -1.0  PF         0.0        114.100708
9339        Bruce Bowen     2  SF       206.0        102.774033
9185        Josh Howard   18T  SF         5.0         76.484154
9344    Dikembe Mutombo    -1   C         0.0         63.061668
9355      Shane Battier     5  SF        86.0         59.081833
9418       Shawn Marion     4  SF        93.0         57.099880
9407       Marcus Camby     1   C       431.0         56.324764
9566  Metta World Peace     8  SF        20.0         38.867104
9210        Eddie Jones    -1  SG         0.0         23.561010

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2008
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 351.303269621035
R-squared (XGBoost): 0.41070889740490646

            Player_name Rank Pos  Points_won  Predicted_points
8731      Kevin Garnett    1  PF       493.0        100.245529
8762       Marcus Camby    2   C       178.0         66.902878
8722      Shane Battier    3  SF       175.0         61.826416
8784        Bruce Bowen    4  SF        80.0         43.155560
8588       Shawn Marion   -1  PF         0.0         26.035116
8949    Rasheed Wallace   12   C         9.0         24.813345
8568       Shawn Marion   -1  PF         0.0         22.746044
8659  Metta World Peace  16T  SF         1.0         21.581890
8573         Tim Duncan    9   C        22.0         21.531094
8891    Tayshaun Prince   10  SF        13.0         21.267048

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2009
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 301.4086285924012
R-squared (XGBoost): 0.5365921447573662

            Player_name  Rank Pos  Points_won  Predicted_points
8212      Dwight Howard     1   C       542.0        186.334900
8365      Kevin Garnett     8  PF        31.0         71.335358
8098        Bruce Bowen    -1  SF         0.0         68.107544
8426        Kobe Bryant     7  SG        43.0         49.454090
8484       LeBron James     2  SF       148.0         48.504936
8556         Chris Paul     6  PG        49.0         26.585398
8442  Metta World Peace     5  SF        54.0         18.817364
8370      Shane Battier     4  SG        71.0         12.858995
8167      Rashard Lewis  -1.0  PF         0.0         10.602913
8282       Theo Ratliff    -1   C         0.0         10.485487

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2010
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 54.164753231374874
R-squared (XGBoost): 0.9250916002830397

            Player_name Rank Pos  Points_won  Predicted_points
8018      Dwight Howard    1   C       576.0        525.946655
8041       LeBron James    4  SF        61.0         62.852543
7553         Josh Smith    2  PF       136.0         44.555470
7905          Raja Bell   -1  SG         0.0         15.585623
7727   Andrei Kirilenko   16  SF         4.0         13.242855
7564        Kobe Bryant   12  SG         9.0         12.838139
7544        Dwyane Wade  10T  SG        13.0         11.064646
7683         Tim Duncan   14   C         7.0          8.172668
7911          Raja Bell   -1  SG         0.0          6.987396
8050  Metta World Peace    6  SF        29.0          6.098335

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2011
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 455.1024941955471
R-squared (XGBoost): 0.3164470320772773

         Player_name Rank Pos  Points_won  Predicted_points
7366   Dwight Howard    1   C       585.0        103.855911
7231      Chris Paul  12T  PG        13.0         86.694221
7121   Kevin Garnett    2  PF        77.0         65.749603
7508      Josh Smith   25  PF         1.0         53.203068
7523    Andrew Bogut  6.0   C        32.0         39.117672
7391  Tyson Chandler    3   C        70.0         35.428738
7321     Rajon Rondo    5  PG        45.0         27.302324
7288     Dwyane Wade   16  SG         8.0         26.388695
7522    Emeka Okafor   -1   C         0.0         18.516376
7258      Tim Duncan   17   C         7.0         17.414301

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2012
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 378.37008790680443
R-squared (XGBoost): 0.1639149511217699

         Player_name  Rank Pos  Points_won  Predicted_points
6510   Dwight Howard     3   C       186.0         44.390804
6987   Kevin Garnett     5   C        44.0         39.911308
6874     Paul George  -1.0  SG         0.0         36.511410
6527     Serge Ibaka   2.0  PF       294.0         33.146973
6523  Andre Iguodala     7  SF        33.0         32.413212
6958      Tony Allen   6.0  SG        36.0         26.261709
6572    LeBron James     4  SF       112.0         24.497046
6779     Dwyane Wade   18T  SG         1.0         24.262012
6511      Chris Paul   12T  PG         5.0         21.825577
6897   Morris Almond  -1.0  SG         0.0         20.421352

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2013
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 84.14554620488254
R-squared (XGBoost): 0.650233600478554

        Player_name Rank Pos  Points_won  Predicted_points
6005    Serge Ibaka  3.0  PF       122.0        141.415756
6217     Marc Gasol    1   C       212.0        122.051636
5996  Dwight Howard   14   C         9.0         71.698555
6084   LeBron James    2  PF       149.0         57.797070
6242    Paul George  8.0  SF        57.0         56.846771
6419     Tim Duncan    6   C        94.0         44.953812
6206  Larry Sanders  7.0   C        90.0         44.784317
6094    Mike Conley   21  PG         1.0         39.325493
6330    Joakim Noah  4.0   C       107.0         34.083374
6265  Kevin Garnett   -1   C         0.0         26.809855

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2014
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 85.79383218526986
R-squared (XGBoost): 0.8693292072121552

           Player_name  Rank Pos  Points_won  Predicted_points
5847       Joakim Noah   1.0   C       555.0        474.025604
5804       Serge Ibaka   4.0  PF        79.0         68.449890
5716        Marc Gasol   15T   C         4.0         67.048485
5952       Paul George   7.0  SF        30.0         54.039265
5461     Kawhi Leonard    11  SF         9.0         51.888386
5805    Andre Iguodala     5  SF        47.0         39.423500
5624     Anthony Davis    8T  PF        25.0         31.537886
5597  DeMarcus Cousins  -1.0   C         0.0         31.523010
5948       Roy Hibbert   2.0   C       166.0         27.104403
5754     Dwight Howard    8T   C        25.0         23.478737

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2015
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 207.72504006708698
R-squared (XGBoost): 0.5907516894963827

           Player_name Rank Pos  Points_won  Predicted_points
5314     Kawhi Leonard    1  SF       333.0        261.648651
5011    DeAndre Jordan  3.0   C       261.0        114.473434
5393     Anthony Davis    4  PF       107.0         63.497799
5304    Tyson Chandler   -1   C         0.0         60.548599
4890        Marc Gasol  10T   C         7.0         45.724289
4908     Kevin Garnett   -1  PF         0.0         41.849251
5227    Andre Iguodala   -1  SF         0.0         39.321781
5107    Draymond Green    2  PF       317.0         35.163124
5285      Andrew Bogut  6.0   C        31.0         34.122963
5031  Hassan Whiteside  15T   C         1.0         31.300400

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2016
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 283.25815812901595
R-squared (XGBoost): 0.6910647508737093

           Player_name  Rank Pos  Points_won  Predicted_points
4426     Kawhi Leonard     1  SF       547.0        327.356720
4570  Hassan Whiteside     3   C        83.0        203.983963
4597    Draymond Green     2  PF       421.0        164.198013
4474    DeAndre Jordan   4.0   C        50.0        151.173813
4820    Andre Drummond    10   C         3.0         67.796051
4782        Tim Duncan    -1   C         0.0         35.088985
4580       Danny Green  -1.0  SG         0.0         34.558495
4773      Andrew Bogut  -1.0   C         0.0         32.644154
4524      LeBron James   11T  SF         2.0         27.196936
4373       Rudy Gobert   7.0   C        13.0         16.772863

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2017
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 116.8061419957559
R-squared (XGBoost): 0.7834789268105347

           Player_name  Rank Pos  Points_won  Predicted_points
3989    Draymond Green     1  PF       434.0        477.082306
4268     Kawhi Leonard     3  SF       182.0        209.868515
4129     Anthony Davis    -1   C         0.0         54.535339
3870  Hassan Whiteside    5T   C         3.0         54.089119
4131       Edy Tavares  -1.0   C         0.0         51.925056
3977       Rudy Gobert   2.0   C       269.0         49.747047
3982    Andre Drummond    -1   C         0.0         33.554428
3970    Andre Roberson    5T  SF         3.0         23.140476
3903      Jimmy Butler    -1  SF         0.0         23.075315
4134       Edy Tavares  -1.0   C         0.0         21.769949

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2018
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 232.71860474211178
R-squared (XGBoost): 0.46908619339500335

            Player_name  Rank Pos  Points_won  Predicted_points
3403        Rudy Gobert   1.0   C       466.0        156.565262
3655   Robert Covington   8.0  SF         8.0         58.430187
3177      Anthony Davis     3  PF       139.0         34.094902
3270     Draymond Green     6  PF        20.0         31.060511
3650        Joakim Noah  -1.0   C         0.0         18.669374
3469      Kawhi Leonard    -1  SF         0.0         17.907616
3363      Kyle Anderson  -1.0  SF         0.0         15.057012
3598     Victor Oladipo   15T  SG         1.0          7.899892
3299          Ekpe Udoh  -1.0   C         0.0          5.422626
3277  Russell Westbrook    -1  PG         0.0          5.053160

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2019
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 44.62320058326644
R-squared (XGBoost): 0.8970143720382004

                Player_name  Rank Pos  Points_won  Predicted_points
2825            Rudy Gobert   1.0   C       411.0        330.620178
3114  Giannis Antetokounmpo   2.0  PF       280.0        305.324158
2738            Brook Lopez  -1.0   C         0.0         66.183197
2932            Paul George   3.0  SF       150.0         62.155056
2562           Myles Turner   5.0   C        15.0         60.606651
2876         Draymond Green    6T  PF         6.0         49.075581
2744            P.J. Tucker  -1.0  PF         0.0         29.758396
2981           Jusuf Nurkić    -1   C         0.0         28.088020
2821           Nerlens Noel    -1   C         0.0         24.771502
2671          Anthony Davis    -1   C         0.0         23.818787

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2020
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 121.81204658361672
R-squared (XGBoost): 0.7249306602789571

                Player_name  Rank Pos  Points_won  Predicted_points
2127  Giannis Antetokounmpo   1.0  PF       432.0        278.939941
2524            Rudy Gobert   3.0   C       187.0        125.734047
2270          Anthony Davis     2  PF       200.0        122.079430
2037              Kris Dunn  -1.0  PG         0.0         94.829292
2017       Hassan Whiteside    11   C         3.0         90.182968
2069            John Henson  -1.0   C         0.0         88.782501
2094            Brook Lopez  10.0   C         4.0         78.303085
2198          Kawhi Leonard    8T  SF         5.0         67.985146
2466         Jonathan Isaac  -1.0  PF         0.0         50.353348
2465         Draymond Green    -1  PF         0.0         24.973137

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2021
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 138.6313305229218
R-squared (XGBoost): 0.714013442633242

                Player_name  Rank Pos  Points_won  Predicted_points
1379            Rudy Gobert   1.0   C       464.0        413.650238
1895  Giannis Antetokounmpo   5.0  PF        12.0         48.991863
1402             Marc Gasol    -1   C         0.0         41.607010
1719           Myles Turner   9.0   C         3.0         19.401316
1716           Clint Capela   6.0   C        10.0         13.921106
1785            Ben Simmons   2.0  PG       287.0         12.349513
1517           LeBron James    -1  PG         0.0          9.482396
1422         Draymond Green     3  PF        76.0          8.885170
1788            Bam Adebayo   4.0   C        31.0          7.766179
1784           Devin Booker  -1.0  SG         0.0          6.119257

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2022
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 163.75716747492575
R-squared (XGBoost): 0.2391016730925417

                Player_name  Rank Pos  Points_won  Predicted_points
1022            Rudy Gobert   3.0   C       136.0        211.196228
997       Jaren Jackson Jr.   5.0  PF        99.0         36.325352
628           Mikal Bridges   2.0  SF       202.0         28.701435
1132         Derrick Walton  -1.0  PG         0.0         28.592588
1284         Darius Garland  -1.0  PG         0.0         26.051262
1111  Giannis Antetokounmpo   6.0  PF        58.0         24.176006
644             Evan Mobley  -1.0  PF         0.0         23.615051
933              Al Horford     9   C         3.0         19.899338
1123         Draymond Green    10  PF         2.0         18.541801
758      Wendell Carter Jr.  -1.0  PF         0.0         17.570864

---------------------------------------------------------------------
Selected Features Top  40  Test year :  2023
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 272.055159090303
R-squared (XGBoost): 0.36064820799121455

               Player_name  Rank Pos  Points_won  Predicted_points
323            Brook Lopez   2.0   C       309.0         98.229469
206            Nic Claxton    9T   C         7.0         88.755997
137            Evan Mobley   3.0  PF       101.0         84.908257
158           Jrue Holiday    7T  PG         8.0         76.211555
59       Jaren Jackson Jr.   1.0   C       391.0         68.160347
176  Giannis Antetokounmpo   6.0  PF        14.0         62.916126
208         Walker Kessler  -1.0   C         0.0         20.548960
532         Darius Garland  -1.0  PG         0.0         18.560841
190           Desmond Bane  -1.0  SG         0.0         18.464622
497            Joel Embiid    9T   C         7.0         17.487640

---------------------------------------------------------------------

,Rank_1994,Rank_1995,Rank_1996,Rank_1997,Rank_1998,Rank_1999,Rank_2000,Rank_2001,Rank_2002,Rank_2003,...,Rank_2014,Rank_2015,Rank_2016,Rank_2017,Rank_2018,Rank_2019,Rank_2020,Rank_2021,Rank_2022,Rank_2023
0,1,4,3,2,2,5T,1,-1,-1,1,...,1.0,1,1,1,1.0,1.0,1.0,1.0,3.0,2.0
1,4,1,4,-1,1,4,5T,1,1,4,...,4.0,3.0,3,3,8.0,2.0,3.0,5.0,5.0,9T
2,7T,3,-1.0,1,3,1,3T,5T,3T,-1,...,15T,4,2,-1,3,-1.0,2,-1,2.0,3.0
3,2,2,2,4,5T,-1,3T,-1,-1,-1,...,7.0,-1,4.0,5T,6,3.0,-1.0,9.0,-1.0,7T
4,5,6T,5,-1,5T,3,2,3,3T,8,...,11,10T,10,-1.0,-1.0,5.0,11,6.0,-1.0,1.0
5,7T,6T,6,5,5T,2,-1,2,-1,6,...,5,-1,-1,2.0,-1,6T,-1.0,2.0,6.0,6.0
6,10,-1,7,3,9T,-1,8T,-1,-1,-1.0,...,8T,-1,-1.0,-1,-1.0,-1.0,10.0,-1,-1.0,-1.0
7,9,6T,-1,6T,5T,5T,8T,8T,-1,5.0,...,-1.0,2,-1.0,5T,15T,-1,8T,3,9,-1.0
8,-1,5,8T,-1.0,11T,-1,-1,11T,2,13T,...,2.0,6.0,11T,-1,-1.0,-1,-1.0,4.0,10,-1.0
9,6,6T,8T,-1.0,4,7T,-1,1,-1,13T,...,8T,15T,7.0,-1.0,-1,-1,-1,-1.0,-1.0,9T

In [36]:
top = top_50

rank_data_50 = pd.DataFrame()

for year in range(1994,2024):
    print("Selected Features Top ",50," Test year : ", year)
    Test_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] == year]
    Train_Data = all_players_w_add_sorted[all_players_w_add_sorted['Year'] < year]
    
    X_train, y_train = Data_Organizer(Train_Data,top)
    X_test , y_test = Data_Organizer(Test_Data,top)
    
    # Initialize and train a XGBoost Regressor model
    xgb_model = XGBRegressor(n_estimators=200,max_depth = 5, random_state=42, n_jobs=-1)
    xgb_model.fit(X_train, y_train)
    
    # Make predictions on the test set
    y_pred_xgb = xgb_model.predict(X_test)
    
    # Evaluate the model
    mse_xgb = mean_squared_error(y_test, y_pred_xgb)
    r2_xgb = r2_score(y_test, y_pred_xgb)
    
    # Mean Squared Error (MAE)
    print(f'Mean Squared Error (XGBoost): {mse_xgb}')
    print(f'R-squared (XGBoost): {r2_xgb}')
    
    Test_Data_copy = Test_Data.copy()
    Test_Data_copy.loc[:, 'Predicted_points'] = y_pred_xgb
    
    # Select only the desired columns
    Test_Data_concatenated = Test_Data_copy[['Player_name','Rank','Pos','Points_won', 'Predicted_points']]
    
    # Display the concatenated DataFrame sorted by 'Points_won'
    display(Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10))

    Test_Data_concatenated = Test_Data_concatenated.sort_values(by='Predicted_points', ascending=False).head(10)

    if rank_data_50.empty:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_50 = pd.DataFrame(new_rank_column)
    else:
        new_rank_column = Test_Data_concatenated['Rank'].head(10).rename(f'Rank_{year}')
        rank_data_50 = pd.concat([rank_data_50.reset_index(drop=True), new_rank_column.reset_index(drop=True)], axis=1)

    print("---------------------------------------------------------------------")

display(rank_data_50)

Selected Features Top  50  Test year :  1994
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.096991946246465
R-squared (XGBoost): -0.9213517213885805

           Player_name Rank Pos  Points_won  Predicted_points
15651  Hakeem Olajuwon    1   C        23.0         72.997948
15477   Scottie Pippen    4  SF        11.0          8.406638
15539   David Robinson    2   C        22.0          7.870159
15583  Mookie Blaylock   7T  PG         3.0          7.276592
15784      Gary Payton    5  PG         9.0          2.130139
15540     Horace Grant   10  PF         1.0          2.130139
15677    Nate McMillan   7T  PG         3.0          2.130139
15739    Patrick Ewing   -1   C         0.0          1.000584
15649   Charles Oakley    9  PF         2.0          1.000237
15743  Dikembe Mutombo    3   C        19.0          1.000237

---------------------------------------------------------------------
Selected Features Top  50  Test year :  1995
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 2.925179890409936
R-squared (XGBoost): 0.5350610873874032

           Player_name Rank Pos  Points_won  Predicted_points
15113   David Robinson    4   C        12.0         17.454617
14994  Hakeem Olajuwon    3   C        13.0         17.278801
15026  Dikembe Mutombo    1   C        45.0         17.232346
15151      Gary Payton   6T  PG         2.0         14.055132
15199   Scottie Pippen    2  SF        16.0         11.027144
15404  Alonzo Mourning   6T   C         2.0          8.524605
15121    Dennis Rodman    5  PF        11.0          7.682734
15077  Mookie Blaylock   -1  PG         0.0          7.255709
15258    Derrick McKey   6T  SF         2.0          6.696791
15370      John Starks   -1  SG         0.0          5.585331

---------------------------------------------------------------------
Selected Features Top  50  Test year :  1996
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 9.680395069587112
R-squared (XGBoost): -0.2902312093370889

            Player_name  Rank Pos  Points_won  Predicted_points
14887   Dikembe Mutombo     3   C        11.0         46.971149
14897    David Robinson     4   C         9.0         17.095476
14839     Shawn Bradley  -1.0   C         0.0         15.566175
14619    Michael Jordan     6  SG         7.0         13.882315
14749    Scottie Pippen     2  SF        15.0         13.702851
14797   Hakeem Olajuwon     5   C         8.0         12.905411
14909     Dennis Rodman     7  PF         4.0         10.316727
14838    Charles Oakley    -1  PF         0.0          9.003525
14555      Horace Grant    8T  PF         1.0          8.121618
14904  Latrell Sprewell    8T  SG         1.0          3.544705

---------------------------------------------------------------------
Selected Features Top  50  Test year :  1997
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 7.210852440345271
R-squared (XGBoost): 0.1907206258991928

           Player_name  Rank Pos  Points_won  Predicted_points
14149      Gary Payton     2  PG        25.0         54.615288
14210  Hakeem Olajuwon    -1   C         0.0         30.904682
14489  Dikembe Mutombo     1   C        60.0         19.972824
14333  Mookie Blaylock     3  PG        18.0          9.583263
14164   Scottie Pippen     4  SF         4.0          8.885056
14081   Michael Jordan     5  SG         3.0          7.449677
14279     Horace Grant    6T  PF         1.0          6.635295
14141    Shawn Bradley  -1.0   C         0.0          5.587239
14269    Dennis Rodman    -1  PF         0.0          5.065834
14277   David Robinson    -1   C         0.0          4.397104

---------------------------------------------------------------------
Selected Features Top  50  Test year :  1998
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 0.8618911659459086
R-squared (XGBoost): 0.8615260771563337

            Player_name Rank Pos  Points_won  Predicted_points
13894   Dikembe Mutombo    1   C        39.0         27.129641
13764       Gary Payton    2  PG        37.0         23.286089
13605    David Robinson    3   C        10.0         11.005589
13836    Michael Jordan    4  SG         6.0         10.562106
13815   Mookie Blaylock   5T  PG         4.0          9.654484
13889        Tim Duncan   5T  PF         4.0          7.000341
13637     Dennis Rodman   5T  PF         4.0          4.002497
13740   Hakeem Olajuwon   -1   C         0.0          3.529507
13842    Scottie Pippen   9T  SF         2.0          3.138409
13555  Latrell Sprewell   -1  SG         0.0          2.524362

---------------------------------------------------------------------
Selected Features Top  50  Test year :  1999
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 15.325107029389416
R-squared (XGBoost): 0.09775326953697572

           Player_name Rank Pos  Points_won  Predicted_points
13488       Tim Duncan   5T  PF         2.0          4.531850
13269  Alonzo Mourning    1   C        89.0          4.488653
13434   David Robinson    4   C         3.0          4.285656
13087     Horace Grant   -1  PF         0.0          4.275633
13182  Dikembe Mutombo    2   C        10.0          4.056587
13424      Gary Payton    3  PG         6.0          3.805526
13121        Bo Outlaw   -1  PF         0.0          3.794517
13406    Dennis Rodman   -1  PF         0.0          3.445436
13380  Mookie Blaylock   -1  PG         0.0          3.331861
13039  Hakeem Olajuwon   7T   C         1.0          3.064424

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2000
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 1.8866144934688809
R-squared (XGBoost): 0.8054229000822036

            Player_name Rank Pos  Points_won  Predicted_points
12956   Alonzo Mourning    1   C        62.0         58.805626
12708       Gary Payton   5T  PG         4.0         25.170450
12909   Dikembe Mutombo   3T   C        11.0         15.151415
12725  Shaquille O'Neal    2   C        21.0          8.387658
12741       Eddie Jones   3T  SG        11.0          8.166836
12568     Dennis Rodman   -1  PF         0.0          6.324833
12994   Mookie Blaylock   -1  PG         0.0          6.012824
12733         Bo Outlaw   8T  PF         1.0          5.537480
13004      Horace Grant   -1  PF         0.0          5.421122
12837     Anthony Mason   8T  SF         1.0          5.049906

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2001
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 10.036401538685984
R-squared (XGBoost): 0.12264905218088717

            Player_name Rank Pos  Points_won  Predicted_points
12210   Alonzo Mourning   -1   C         0.0         19.580944
12106    David Robinson   5T   C         6.0         10.613753
12271        Tim Duncan    3  PF        14.0          9.518646
12427       Gary Payton   -1  PG         0.0          7.750307
12512   Dikembe Mutombo    1   C        48.0          5.445784
12403  Shaquille O'Neal   8T   C         2.0          4.601825
12492       Kobe Bryant  11T  SG         1.0          4.139380
12510   Dikembe Mutombo    1   C        48.0          3.740177
12143      Horace Grant   -1  PF         0.0          3.384365
12460     Kevin Garnett    2  PF        26.0          2.651973

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2002
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 19.094013022923058
R-squared (XGBoost): 0.3318483769704269

            Player_name Rank Pos  Points_won  Predicted_points
11941       Ben Wallace    1   C       116.0         31.862169
12003   Dikembe Mutombo   3T   C         1.0         29.379097
12035   Alonzo Mourning   -1   C         0.0         23.093124
11892   Hakeem Olajuwon   -1   C         0.0         12.028297
11852        Tim Duncan   -1  PF         0.0         11.618925
11936     Kevin Garnett    2  PF         2.0         10.320191
12005       Kobe Bryant   3T  SG         1.0          8.813979
11950       Gary Payton   -1  PG         0.0          7.108521
11927  Shaquille O'Neal   -1   C         0.0          7.017679
12041       Eddie Jones   -1  SG         0.0          4.129830

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2003
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 647.0170508835195
R-squared (XGBoost): 0.09554502165118317

            Player_name  Rank Pos  Points_won  Predicted_points
11137       Ben Wallace     1   C       531.0         27.739645
11461   Dikembe Mutombo    -1   C         0.0         12.227207
11405        Tim Duncan     4  PF        90.0          7.549021
11411     Allen Iverson     6  SG        29.0          7.032850
11347     Doug Christie   5.0  SG        85.0          6.849149
11463       Kobe Bryant     8  SG        16.0          6.692419
11559        Jason Kidd    -1  PG         0.0          6.323086
11505     Dirk Nowitzki  -1.0  PF         0.0          5.276129
11183     Kevin Garnett     3  PF       121.0          5.047878
11494  Shaquille O'Neal   13T   C         3.0          4.810798

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2004
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 968.9584602254439
R-squared (XGBoost): -0.4017714346005403

             Player_name  Rank Pos  Points_won  Predicted_points
10663        Ben Wallace     2   C       325.0        526.011414
11127      Kevin Garnett     6  PF        36.0        521.781250
10722  Metta World Peace     1  SF       476.0         25.882057
10818         Tim Duncan     7  PF         8.0         15.130754
10871   Andrei Kirilenko     5  PF        67.0         14.829449
11017    Rasheed Wallace  -1.0  PF         0.0         12.591729
10721        Gary Payton    -1  PG         0.0         10.475957
10650       Theo Ratliff     3   C        90.0          9.047980
10625   Donyell Marshall  -1.0  PF         0.0          8.599478
10664       Theo Ratliff     3   C        90.0          8.262585

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2005
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 393.5415747476364
R-squared (XGBoost): 0.05593249157782387

             Player_name Rank Pos  Points_won  Predicted_points
10261  Metta World Peace   -1  SF         0.0         35.815357
10337      Allen Iverson   11  PG        10.0         23.707767
10592   Andrei Kirilenko   10  PF        25.0         23.501812
10455        Ben Wallace    1   C       339.0         17.891066
10202        Eddie Jones   -1  SF         0.0          8.306887
10240    Alonzo Mourning   -1   C         0.0          7.586528
10326         Tim Duncan    4  PF        81.0          6.829255
10151      Manu Ginóbili  18T  SG         2.0          5.465833
10352     Tyson Chandler  18T   C         2.0          5.321448
10338       Shawn Marion    5  PF        57.0          4.097548

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2006
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 437.1548182066543
R-squared (XGBoost): 0.25169963587498256

             Player_name Rank Pos  Points_won  Predicted_points
9730   Metta World Peace    4  SF        65.0        241.476669
9731   Metta World Peace    4  SF        65.0        238.899231
9704        Marcus Camby    5   C        55.0        131.680054
9841         Ben Wallace    1   C       420.0        115.649506
9691    Andrei Kirilenko    3  SF       121.0         79.133080
9610         Bruce Bowen    2  SF       308.0         68.218040
10044         Tim Duncan    6  PF        42.0         60.401264
10009        Gary Payton   -1  PG         0.0         38.626247
9863        Shawn Marion    7  PF        33.0         30.012054
9880         Eddie Jones  13T  SG         1.0         19.624731

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2007
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 495.8274738390437
R-squared (XGBoost): 0.10616118209001324

            Player_name  Rank Pos  Points_won  Predicted_points
9414        Ben Wallace     6   C        42.0        269.556824
9339        Bruce Bowen     2  SF       206.0        110.514084
9185        Josh Howard   18T  SF         5.0         85.739899
9488      Renaldo Major  -1.0  PF         0.0         85.690025
9407       Marcus Camby     1   C       431.0         57.480652
9344    Dikembe Mutombo    -1   C         0.0         54.179398
9355      Shane Battier     5  SF        86.0         50.704842
9418       Shawn Marion     4  SF        93.0         40.135921
9566  Metta World Peace     8  SF        20.0         26.834049
9438         Tim Duncan     3   C       158.0         22.381214

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2008
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 377.336758734422
R-squared (XGBoost): 0.36703921132263784

            Player_name Rank Pos  Points_won  Predicted_points
8762       Marcus Camby    2   C       178.0         90.914742
8722      Shane Battier    3  SF       175.0         80.212280
8731      Kevin Garnett    1  PF       493.0         73.569656
8699         Chris Paul   7T  PG        24.0         36.147423
8784        Bruce Bowen    4  SF        80.0         29.824347
8568       Shawn Marion   -1  PF         0.0         28.559875
8571        Kobe Bryant    5  SG        40.0         24.605938
8659  Metta World Peace  16T  SF         1.0         23.125233
9050      Dwight Howard   7T   C        24.0         20.435524
8588       Shawn Marion   -1  PF         0.0         19.141697

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2009
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 325.1978392062607
R-squared (XGBoost): 0.5000168578454842

            Player_name  Rank Pos  Points_won  Predicted_points
8212      Dwight Howard     1   C       542.0        173.835556
8098        Bruce Bowen    -1  SF         0.0         83.664658
8426        Kobe Bryant     7  SG        43.0         60.500591
8365      Kevin Garnett     8  PF        31.0         59.405632
8484       LeBron James     2  SF       148.0         45.186768
8442  Metta World Peace     5  SF        54.0         28.144148
8556         Chris Paul     6  PG        49.0         19.539175
8370      Shane Battier     4  SG        71.0         15.888629
8430          Pau Gasol  -1.0   C         0.0         10.478745
8274    Tayshaun Prince    -1  SF         0.0          9.417385

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2010
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 62.996061553167735
R-squared (XGBoost): 0.9128781379421943

         Player_name Rank Pos  Points_won  Predicted_points
8018   Dwight Howard    1   C       576.0        503.948425
8041    LeBron James    4  SF        61.0         56.214001
7553      Josh Smith    2  PF       136.0         30.769945
7564     Kobe Bryant   12  SG         9.0         18.479486
7683      Tim Duncan   14   C         7.0         14.612620
7544     Dwyane Wade  10T  SG        13.0         11.705747
7905       Raja Bell   -1  SG         0.0         10.973242
7911       Raja Bell   -1  SG         0.0         10.143083
8016     Rajon Rondo    5  PG        55.0          9.763381
7813  Gerald Wallace    3  SF       113.0          6.942350

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2011
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 420.8722870711879
R-squared (XGBoost): 0.36785997744868115

         Player_name Rank Pos  Points_won  Predicted_points
7366   Dwight Howard    1   C       585.0        128.012802
7231      Chris Paul  12T  PG        13.0         83.529305
7391  Tyson Chandler    3   C        70.0         56.122818
7508      Josh Smith   25  PF         1.0         54.233379
7522    Emeka Okafor   -1   C         0.0         32.013992
7288     Dwyane Wade   16  SG         8.0         31.762587
7121   Kevin Garnett    2  PF        77.0         27.244055
7523    Andrew Bogut  6.0   C        32.0         24.593594
7270    Shawn Marion   -1  SF         0.0         24.576334
7321     Rajon Rondo    5  PG        45.0         22.367208

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2012
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 394.0566495194731
R-squared (XGBoost): 0.1292523283303777

         Player_name  Rank Pos  Points_won  Predicted_points
6747      Josh Smith    10  PF         9.0         65.591255
6523  Andre Iguodala     7  SF        33.0         48.402729
6987   Kevin Garnett     5   C        44.0         40.036156
6874     Paul George  -1.0  SG         0.0         33.783997
6527     Serge Ibaka   2.0  PF       294.0         31.080534
6779     Dwyane Wade   18T  SG         1.0         24.618868
6938      Marc Gasol   12T   C         5.0         22.919607
6572    LeBron James     4  SF       112.0         21.459446
6510   Dwight Howard     3   C       186.0         20.327354
6958      Tony Allen   6.0  SG        36.0         18.810741

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2013
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 83.43538273420249
R-squared (XGBoost): 0.6531855252257845

        Player_name  Rank Pos  Points_won  Predicted_points
6005    Serge Ibaka   3.0  PF       122.0        151.450150
6217     Marc Gasol     1   C       212.0        128.670868
6084   LeBron James     2  PF       149.0         89.322952
6094    Mike Conley    21  PG         1.0         64.946625
5996  Dwight Howard    14   C         9.0         62.219143
6419     Tim Duncan     6   C        94.0         48.282452
6242    Paul George   8.0  SF        57.0         37.999638
6206  Larry Sanders   7.0   C        90.0         32.869553
6033    Roy Hibbert  10.0   C        36.0         32.156208
6330    Joakim Noah   4.0   C       107.0         26.946003

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2014
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 76.17061078883431
R-squared (XGBoost): 0.8839861346044379

         Player_name Rank Pos  Points_won  Predicted_points
5847     Joakim Noah  1.0   C       555.0        477.756226
5804     Serge Ibaka  4.0  PF        79.0         90.391190
5716      Marc Gasol  15T   C         4.0         70.469666
5805  Andre Iguodala    5  SF        47.0         45.769958
5616    LeBron James    6  PF        31.0         38.790897
5952     Paul George  7.0  SF        30.0         38.226391
5754   Dwight Howard   8T   C        25.0         29.170027
5948     Roy Hibbert  2.0   C       166.0         28.890038
5624   Anthony Davis   8T  PF        25.0         26.411615
5641      Chris Paul  13T  PG         5.0         24.194496

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2015
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 195.9348047991533
R-squared (XGBoost): 0.6139801546938557

           Player_name Rank Pos  Points_won  Predicted_points
5314     Kawhi Leonard    1  SF       333.0        271.426819
5011    DeAndre Jordan  3.0   C       261.0        129.656189
5393     Anthony Davis    4  PF       107.0         71.649391
5031  Hassan Whiteside  15T   C         1.0         45.493431
4908     Kevin Garnett   -1  PF         0.0         45.286362
5304    Tyson Chandler   -1   C         0.0         36.632790
4890        Marc Gasol  10T   C         7.0         33.294449
5107    Draymond Green    2  PF       317.0         32.528748
5349        Chris Paul  15T  PG         1.0         31.403246
5134       Rudy Gobert  5.0   C        33.0         24.681820

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2016
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 302.3497427399181
R-squared (XGBoost): 0.6702425317117167

           Player_name  Rank Pos  Points_won  Predicted_points
4426     Kawhi Leonard     1  SF       547.0        327.119110
4474    DeAndre Jordan   4.0   C        50.0        208.374084
4597    Draymond Green     2  PF       421.0        166.879623
4570  Hassan Whiteside     3   C        83.0        150.135254
4820    Andre Drummond    10   C         3.0         70.543106
4807   Bismack Biyombo  -1.0   C         0.0         59.993324
4354     Kevin Garnett    -1  PF         0.0         59.207607
4427        Al Horford   13T   C         1.0         34.556244
4782        Tim Duncan    -1   C         0.0         30.006332
4571      Paul Millsap   5.0  PF        21.0         29.317518

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2017
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 78.48227499809569
R-squared (XGBoost): 0.8545190679308982

                Player_name  Rank Pos  Points_won  Predicted_points
3989         Draymond Green     1  PF       434.0        367.285858
3977            Rudy Gobert   2.0   C       269.0        139.190216
4268          Kawhi Leonard     3  SF       182.0        119.910522
4131            Edy Tavares  -1.0   C         0.0         63.685627
3870       Hassan Whiteside    5T   C         3.0         57.881893
4129          Anthony Davis    -1   C         0.0         46.651840
4134            Edy Tavares  -1.0   C         0.0         42.265152
4212  Giannis Antetokounmpo  -1.0  SF         0.0         40.462482
3982         Andre Drummond    -1   C         0.0         36.479130
4133             Chris Paul    -1  PG         0.0         31.197073

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2018
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 280.88957104947224
R-squared (XGBoost): 0.3591911073599938

           Player_name  Rank Pos  Points_won  Predicted_points
3403       Rudy Gobert   1.0   C       466.0        121.827469
3655  Robert Covington   8.0  SF         8.0         78.770088
3324    Andre Drummond   15T   C         1.0         37.003227
3469     Kawhi Leonard    -1  SF         0.0         30.938610
3650       Joakim Noah  -1.0   C         0.0         26.889400
3180      LeBron James    -1  PF         0.0         25.983835
3177     Anthony Davis     3  PF       139.0         22.561430
3598    Victor Oladipo   15T  SG         1.0         19.175081
3270    Draymond Green     6  PF        20.0         16.234407
3312     Dwight Howard    -1   C         0.0         12.164351

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2019
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 47.69884684525664
R-squared (XGBoost): 0.8899161057206966

                Player_name  Rank Pos  Points_won  Predicted_points
2825            Rudy Gobert   1.0   C       411.0        373.895508
3114  Giannis Antetokounmpo   2.0  PF       280.0        249.331223
2738            Brook Lopez  -1.0   C         0.0         77.386841
2562           Myles Turner   5.0   C        15.0         73.324219
2932            Paul George   3.0  SF       150.0         61.106445
2744            P.J. Tucker  -1.0  PF         0.0         59.654381
2702          Kawhi Leonard    6T  SF         6.0         42.462582
2671          Anthony Davis    -1   C         0.0         41.522251
2980             Marc Gasol    -1   C         0.0         28.818394
2979             Marc Gasol    -1   C         0.0         23.283094

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2020
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 113.0428818395992
R-squared (XGBoost): 0.7447327112557967

                Player_name  Rank Pos  Points_won  Predicted_points
2127  Giannis Antetokounmpo   1.0  PF       432.0        262.802338
2524            Rudy Gobert   3.0   C       187.0        129.556900
2270          Anthony Davis     2  PF       200.0        125.678436
2017       Hassan Whiteside    11   C         3.0         95.987862
2198          Kawhi Leonard    8T  SF         5.0         70.538422
2037              Kris Dunn  -1.0  PG         0.0         66.287399
2094            Brook Lopez  10.0   C         4.0         55.081688
1968           James Harden  -1.0  SG         0.0         52.423893
2069            John Henson  -1.0   C         0.0         44.687473
2466         Jonathan Isaac  -1.0  PF         0.0         44.061184

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2021
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 125.04954845586239
R-squared (XGBoost): 0.7420316913336802

                Player_name  Rank Pos  Points_won  Predicted_points
1379            Rudy Gobert   1.0   C       464.0        450.681122
1895  Giannis Antetokounmpo   5.0  PF        12.0         41.389076
1719           Myles Turner   9.0   C         3.0         28.073811
1422         Draymond Green     3  PF        76.0         23.575518
1389         Henry Ellenson  -1.0  PF         0.0         21.558960
1785            Ben Simmons   2.0  PG       287.0         18.114964
1402             Marc Gasol    -1   C         0.0         12.574493
1788            Bam Adebayo   4.0   C        31.0          8.073882
1610      Spencer Dinwiddie  -1.0  SG         0.0          3.972358
1863          Jarrett Allen    -1   C         0.0          3.855871

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2022
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 176.15931962485985
R-squared (XGBoost): 0.1814750240337667

                Player_name  Rank Pos  Points_won  Predicted_points
1022            Rudy Gobert   3.0   C       136.0        212.763412
1284         Darius Garland  -1.0  PG         0.0         46.276989
1123         Draymond Green    10  PF         2.0         45.569031
933              Al Horford     9   C         3.0         40.440315
942           Fred VanVleet  -1.0  PG         0.0         36.159027
1306            Bam Adebayo   4.0   C       128.0         30.349836
997       Jaren Jackson Jr.   5.0  PF        99.0         30.106382
1111  Giannis Antetokounmpo   6.0  PF        58.0         22.623610
629            Jimmy Butler    -1  SF         0.0         18.740768
678              Chris Paul    -1  PG         0.0         14.712461

---------------------------------------------------------------------
Selected Features Top  50  Test year :  2023
DataFrame does not contain missing values or empty strings/spaces.
DataFrame does not contain missing values or empty strings/spaces.
Mean Squared Error (XGBoost): 335.72646614140547
R-squared (XGBoost): 0.21101544822740603

               Player_name  Rank Pos  Points_won  Predicted_points
176  Giannis Antetokounmpo   6.0  PF        14.0         65.054092
206            Nic Claxton    9T   C         7.0         62.636051
323            Brook Lopez   2.0   C       309.0         55.956032
392          Jacob Gilyard  -1.0  PG         0.0         47.113819
59       Jaren Jackson Jr.   1.0   C       391.0         46.056057
119              Josh Hart  -1.0  SF         0.0         37.240479
85             P.J. Tucker  -1.0  PF         0.0         32.304375
327           Kevon Looney  -1.0   C         0.0         32.194614
396            Rudy Gobert  -1.0   C         0.0         23.437664
137            Evan Mobley   3.0  PF       101.0         15.961123

---------------------------------------------------------------------

,Rank_1994,Rank_1995,Rank_1996,Rank_1997,Rank_1998,Rank_1999,Rank_2000,Rank_2001,Rank_2002,Rank_2003,...,Rank_2014,Rank_2015,Rank_2016,Rank_2017,Rank_2018,Rank_2019,Rank_2020,Rank_2021,Rank_2022,Rank_2023
0,1,4,3,2,1,5T,1,-1,1,1,...,1.0,1,1,1,1.0,1.0,1.0,1.0,3.0,6.0
1,4,3,4,-1,2,1,5T,5T,3T,-1,...,4.0,3.0,4.0,2.0,8.0,2.0,3.0,5.0,-1.0,9T
2,2,1,-1.0,1,3,4,3T,3,-1,4,...,15T,4,2,3,15T,-1.0,2,9.0,10,2.0
3,7T,6T,6,3,4,-1,2,-1,-1,6,...,5,15T,3,-1.0,-1,5.0,11,3,9,-1.0
4,5,2,2,4,5T,2,3T,1,-1,5.0,...,6,-1,10,5T,-1.0,3.0,8T,-1.0,-1.0,1.0
5,10,6T,5,5,5T,3,-1,8T,2,8,...,7.0,-1,-1.0,-1,-1,-1.0,-1.0,2.0,4.0,-1.0
6,7T,5,7,6T,5T,-1,-1,11T,3T,-1,...,8T,10T,-1,-1.0,3,6T,10.0,-1,5.0,-1.0
7,-1,-1,-1,-1.0,-1,-1,8T,1,-1,-1.0,...,2.0,2,13T,-1.0,15T,-1,-1.0,4.0,6.0,-1.0
8,9,6T,8T,-1,9T,-1,-1,-1,-1,3,...,8T,15T,-1,-1,6,-1,-1.0,-1.0,-1,-1.0
9,3,-1,8T,-1,-1,7T,8T,2,-1,13T,...,13T,5.0,5.0,-1,-1,-1,-1.0,-1,-1,3.0

In [37]:
rank_data_10.to_csv('XGB+XGB_All_rank_data_10.csv', index=False)
rank_data_20.to_csv('XGB+XGB_All_rank_data_20.csv', index=False)
rank_data_30.to_csv('XGB+XGB_All_rank_data_30.csv', index=False)
rank_data_40.to_csv('XGB+XGB_All_rank_data_40.csv', index=False)
rank_data_50.to_csv('XGB+XGB_All_rank_data_50.csv', index=False)